{% load i18n %}
<div class='category-forms'>
<!--####################### CATEGORY NAME ######################### -->
    <h4> {% trans 'Category Name' %}: </h4>
    <form action="admin_form_action" method="POST" id="edit-category-form">
        {% csrf_token %}
        <input type='hidden' name='form_type' value='edit_category'/>
        <div class='form-group'>
            <input type='text' name='name' class='form-control' placeholder='{% trans "Category Name" %}' required/>
            <input type='hidden' name='cat_id'/>
        </div>
        <div class='text text-success'>
        </div>
        <div class='text text-warning'>
        </div>
        <div class='text text-danger'>
        </div>
        <input type='submit' class='btn btn-primary' value="Save"/>
    </form>


<!--####################### ADMINISTRATIORS ######################### -->
    <h4>{% trans 'Administrators' %}:</h4>
    <div class="row">
        <ul id="admins-form-container">
        </ul>
    </div>

<!--################### COURSE REGISTRATION DEADLINE ################### -->
<form class="form" class="cr-deadline-form" id="course-registration-deadline-form" action="admin_form_action" method="post">
    {% csrf_token %}
    <input type="hidden" name="cat_id"/>
    <input type="hidden" name="form_type" value="course_registration_deadline"/>
    <h4> {% trans 'Course Registration' %} </h4>
    <small> {% trans 'Status' %}: </small> <small class='registration_deadline_status'> </small>
    <div class="form-group">
        <label>{% trans 'Start' %}</label>
        <div class='input-group date registration-start-datetime' data-date-format="DD/MM/YYYY HH:mm">
            <input type='text' class="form-control registration-datetime-input" name="start" />
            <span class="input-group-addon registration-datetime-button">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>{% trans 'Deadline' %}</label>
        <div class='input-group date registration-end-datetime' data-date-format="DD/MM/YYYY HH:mm">
            <input type='text' class="form-control registration-datetime-input" name="end" />
            <span class="input-group-addon registration-datetime-button">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group text-muted"> {% trans '(times are in the local timezone)' %} </div>
    {% comment %} >>> Say it is in UTC timezone if it is not provided <<< {% endcomment %}


    <input type="hidden" name="timezone" value="">

    <div class='text text-success'>
    </div>
    <div class='text text-warning'>
    </div>
    <div class='text text-danger'>
    </div>


    <input class="btn btn-primary" type="submit" value="Set Deadline" />
</form>

<!--####################### DELETE CATEGORY ######################### -->
    <h4> {% trans 'Delete Category' %} </h4>
    <small> {% trans 'Select "Delete all" if you want to also delete all subcategories' %} </small>
    <form action="admin_form_action" method="POST" id="delete-category-form">
        {% csrf_token %}
        <input type='hidden' name='form_type' value='delete_category'/>
        <input type="hidden" name="cat_id"/>
        <div class="form-group">
            <input type='checkbox'  name='delete_all' title='Delete all categories in this subtree' style='float:left;'/>  {% trans 'Delete all' %}
            <input type="submit" class="btn btn-danger" name="delete-category" style="float:right;" value="Delete Category" >
        </div>
        <div class='text text-success'>
        </div>
        <div class='text text-warning'>
        </div>
        <div class='text text-danger'>
        </div>
    </form>


</div>