{% load i18n %}
<div class='course-forms'>
    <h4> {% trans 'Course Name' %}: </h4>
    <form action="admin_form_action" method="POST" id="edit-course-form">
        {% csrf_token %}
        <input type='hidden' name='form_type' value='edit_course'/>
        <div class='form-group'>
            <input type='text' name='name' class='form-control' placeholder='{% trans "Course Name" %}' required/>
            <input type='hidden' name='course_id'/>
        </div>
        <div class='text text-success'>
        </div>
        <div class='text text-warning'>
        </div>
        <div class='text text-danger'>
        </div>
        <input type='submit' class='btn btn-primary' value="Save"/>
    </form>

    <h4>{% trans 'Professors' %}:</h4>
    <div class="row">
        <ul id="professors-form-container">
        </ul>
    </div>
    <form action="admin_form_action" method="POST" id="delete-course-form">
        {% csrf_token %}
        <input type='hidden' name='form_type' value='delete_course'/>

        <input type="hidden" name="course_id"/>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" name="delete-course" style="float:right;" value="Delete Course" >
        </div>
        <div class='text text-success'>
        </div>
        <div class='text text-warning'>
        </div>
        <div class='text text-danger'>
        </div>
    </form>
</div>