{% load humanize %}
{% load i18n %}
<div class="block"> 
	<div class="activity document-activity">
	
		<div class="panel panel-default">
			<div class="panel-body">

				{% if activity.user.id == user_auth.id %}
					You
				{% else %}
					{% with activity.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
				{% endif %}
				uploaded a <a href="{{ document.document.url }}">document</a>
				{% if document.course_topic %}
					on the topic <i> "{{ document.course_topic.name }}" </i> of
				{% else %}
					for
				{% endif %}
				<a href="{% url 'course_page' activity.get_instance.course.slug %}">{{activity.get_instance.course.name}}</a>
				<span class="text-muted"> {{activity.timestamp|naturaltime}} </span>

				<div class="document-body">
					<a target="_blank" href="{{ document.document.url }}"> {{ document.name|linebreaks }} </a>
					{% if document.description %}
						{{ document.description|linebreaks|truncatechars:"200" }}
                        {% if document.description|length > 200 %}
                            <a href="{% url 'course_page' activity.get_instance.course.slug %}?page=resources">{% trans "(more)" %}</a>
                        {% endif %}
					{% endif %}
				</div>

				<hr class="end-of-activity">
                <a href="{% url 'course_page' activity.get_instance.course.slug %}?page=resources"> {% trans "Check all resources" %} </a>

			</div>
		</div>

	</div>
</div>