{% load humanize %}
{% load i18n %}
<div class="block">
    <div class="activity forum-answer-activity">
        <div class="panel panel-default">
            <div class="panel-body">
                <span id="upvote_answer_activity_{{ answer.answer.id }}" class="pull-right">
                    {% include 'objects/forum/upvote_answer.html' %}
                </span>

                {% if not answer.answer.anonymous %}
                    {% if answer.answer.posted_by.id == user_auth.id %} 
                        You
                    {% else %}
                        {% with activity.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                    {% endif %}
                {% else %}
                    {% trans "Someone" %}
                {% endif %}

                replied to 

                {% if answer.answer.post.posted_by.id == user_auth.id %}
                    your
                {% else %} 
                    {% if not answer.answer.post.anonymous %}
                        {% with answer.answer.post.posted_by as juser %}
                            {% include 'objects/user_link.html'%}'s
                        {% endwith %}
                    {% else %}
                        someone's
                    {% endif %}
                {% endif %}
                post (<a href="{% url 'forum_course' activity.get_instance.forum_answer.post.forum.forumcourse.course.slug %}?post={{ answer.answer.post.id }}"> {{ answer.answer.post.name|truncatechars:"20" }} </a>)
                in course <a href="{% url 'course_page' activity.get_instance.forum_answer.post.forum.forumcourse.course.slug %}">{{ activity.get_instance.forum_answer.post.forum.forumcourse.course.name }}</a> 
                <small class="text-muted"> {{ activity.timestamp|naturaltime }} </small>

                <div class="answer-text">
                    {{ answer.answer.text|linebreaks|truncatechars:"200" }}
                    {% if answer.answer.text|length > 200 %}
                        <a href="{% url 'course_page' activity.get_instance.forum_answer.post.forum.forumcourse.course.slug %}?page=connect&amp;post={{ answer.answer.post.id }}">{% trans "(more)" %}</a>
                    {% endif %}
                </div>

                <hr class="end-of-activity">
                <a href="{% url 'course_page' activity.get_instance.forum_answer.post.forum.forumcourse.course.slug %}?page=connect&amp;answer={{ answer.answer.id }}#answer{{ answer.answer.id }}"> {% trans "Reply" %} </a>
            </div>
        </div>
    </div>

</div>
