{% load humanize %}
{% load i18n %}

<div class="block"> 
    <div class="activity forum-post-activity">
        <div class="panel panel-default">
            <div class="panel-body">

                {% block post_details %}
                    <div class="post-details">
                        <div class="post-header">
                            <span id="upvote_post_activity_{{ post.question.id }}" class="pull-right">
                                {% include 'objects/forum/upvote_post.html' %}
                            </span>

                            {% if not post.question.anonymous %}
                                {% if post.question.posted_by.id == user_auth.id %} 
                                    You
                                {% else %}
                                    {% with post.question.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                                {% endif %}
                            {% else %}
                                {% trans "Someone" %}
                            {% endif %}
                            {% trans "posted in" %}
                            {% if a.subtype == "forumcourse" %}
                                 the forum of  <a href="{% url 'course_page' activity.get_instance.forum_post.forum.forumcourse.course.slug %}"> {{ activity.get_instance.forum_post.forum.forumcourse.course.name }} </a>
                            {% else %}
                                <a href="{% url 'forum_general' %}?post={{post.question.id}}"> Connect </a>
                            {% endif %}
                            
                            {% trans "under" %} 
                            {% with post.question.tag as tag %}
                              
                                {% with activity.get_instance.forum_post.forum as forum %}
                                    {% include "objects/tag_link.html" %}
                                {% endwith %}

                            {% endwith %}
                            <small class='text-muted'> {{ activity.timestamp|naturaltime }} </small>
                            
                            
                        </div>
                    </div>

                    <h3 class="post-name">
                        {{ post.question.name }}
                    </h3>
                        <div class="post-text rich-cke-text" id="activity-post-{{post.question.id}}">
                            {% if post.question.text %}
                                {{ post.question.text|safe }}        
                            {% endif %}
                        </div>
                {% endblock post_details %}

               
                {% block all_answers %}
                    <hr class="end-of-activity">
                    <div class="tab-content best-answers">
                    {% if a.subtype == 'forumcourse' %}
                        <a href="{% url 'course_page' activity.get_instance.forum_post.forum.forumcourse.course.slug %}?page=connect&amp;post={{ post.question.id }}"> {% blocktrans %} Reply {% endblocktrans %} </a>
                    {% else %}
                        <a href="{% url 'forum_general' %}?post={{ post.question.id }}"> {% blocktrans %} Reply {% endblocktrans %} </a>
                    {% endif %}
                        {% if post.answers|length > 0 %}
                            &middot;
                            {% if activity.get_instance.forum_post.forumcourse %}
                                <a href="{% url 'course_page' activity.get_instance.forum_post.forum.forumcourse.course.slug %}?page=connect&amp;post={{ post.question.id }}"> {% trans "Check replies" %} <small> ({{ post.answers|length }}) </small> </a>
                            {% else %}
                                <a href="{% url 'forum_general' %}?post={{ post.question.id }}"> {% trans "Check replies" %} <small> ({{ post.answers|length }}) </small> </a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endblock all_answers %}
            </div>
        </div>
    </div>

</div>