{% load humanize %}
{% load i18n %}
<div class="block"> 

	{% with activity.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
	replied to 
		{% if activity.forumansweractivity.forum_answer.post.posted_by.id == user.id%}
			your
		{% else %} 
			{% with activity.forumansweractivity.forum_answer.post.posted_by as juser %}
				{% include 'objects/user_link.html'%}'s
			{% endwith %}
		{% endif %}
	post 
	{% with activity.forumansweractivity.forum_answer.post as post %}
		(<a href="{% url 'forum_course' activity.course.slug %}?post={{post.id}}"> {{post.name|slice:":40" }}
		{% if post.name|length > 40 %}...{% endif %} </a>)
	{% endwith %}
	on the forum of <a href="{% url 'course_page' activity.course.slug %}">{{activity.course.name}}</a> 
	<small class="text-muted"> {{activity.timestamp|naturaltime}} </small>
	 
	<div class="panel panel-default">
		<div class="panel-body">
			{% with activity.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
			 <span class="text-muted"> {{activity.timestamp|naturaltime}} </span>
			 {{ activity.forumansweractivity.forum_answer.text|linebreaks }}
			<hr/>
			To read the whole discussion, go to the <a href="{% url 'forum_course' activity.course.slug %}?post={{activity.forumansweractivity.forum_answer.post.id}}">forum page</a>.
		</div>
	</div>

</div>