{% load humanize %}
{% load i18n %}

<div class="block"> 
    <div class="activity forum-post-activity">
        <div class="panel panel-default">
            <div class="panel-body">

                {% block post_details %}
                    <div class="post-details">
                        <div class="post-header">
                            <span id="upvote_post_activity_{{ post.question.id }}" class="pull-right">
                                {% include 'objects/forum/upvote_post.html' %}
                            </span>

                            {% if not post.question.anonymous %}
                                {% if post.question.posted_by.id == user_auth.id %} 
                                    You
                                {% else %}
                                    {% with post.question.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                                {% endif %}
                            {% else %}
                                {% trans "Someone" %}
                            {% endif %}
                            posted on the forum of <a href="{% url 'course_page' activity.course.slug %}"> {{ activity.course.name }} </a>
                            <small class='text-muted'> {{ activity.timestamp|naturaltime }} </small>
                            {% trans "in" %} 
                            {% with post.question.tag as tag %}
                                {% with activity.course as course %}
                                    {% include "objects/tag_link.html" %}
                                {% endwith %}
                            {% endwith %}
                            
                            
                        </div>
                    </div>

                    <h3 class="post-name">
                        {{ post.question.name }}
                    </h3>

                    <div class="post-text">
                        {% if post.question.text %}
                            {{ post.question.text|truncatechars:"200"|linebreaks }}
                        {% endif %}
                        {% if post.question.text|length > 200 %}
                            <a href="{% url 'course_page' activity.course.slug %}?page=connect&amp;post={{ post.question.id }}">(more)</a>
                        {% endif %}
                    </div>
                {% endblock post_details %}

               
                {% block all_answers %}
                    <hr class="end-of-activity">
                    <div class="tab-content best-answers">
                        <a href="{% url 'course_page' activity.course.slug %}?page=connect&amp;post={{ post.question.id }}"> Reply </a>
                        {% if post.answers|length > 0 %}
                            &middot;
                            <a href="{% url 'course_page' activity.course.slug %}?page=connect&amp;post={{ post.question.id }}"> Check replies <small> ({{ post.answers|length }}) </small> </a>
                        {% endif %}
                    </div>
                {% endblock all_answers %}
            </div>
        </div>
    </div>

</div>