{% load humanize %}
{% load i18n %}
<div class="block"> 
	<div class="activity homework-activity">
		<div class="panel panel-default">
			<div class="panel-body">

				{% if activity.user.id == user_auth.id %}
					You
				{% else %}
					{% with activity.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
				{% endif %}
				
				posted a homework

				{% if hw.homework.course_topic %}
					on the topic <i> "{{ hw.homework.course_topic.name }}"</i> of
				{% else %}
					for
				{% endif %}
				<a href="{% url 'course_page' activity.get_instance.courseactivity.course.slug %}">{{activity.get_instance.courseactivity.course.name}}</a>
				<small class="text-muted"> {{activity.timestamp|naturaltime}} </small>

				<div class="homework-body">
				{% with 'activity' as hw_modal_spec %}
						{% include 'objects/course/homework/block.html' %} 
							{% comment %}
							on course page there are 2 such modals 
							{% endcomment %}		
				{% endwith %}
				</div>

				<hr class="end-of-activity">
                <a href="{% url 'course_page' activity.get_instance.courseactivity.course.slug %}?page=resources"> {% trans "Check all homework" %} </a>

			</div>
		</div>
	</div>

</div>