{% load humanize %}
{% load i18n %}

<div class="block"> 
    <div class="activity review-activity">
    
        <div class="panel panel-default">
            <div class="panel-body">

                {% if comment.posted_by %} by {% with comment.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %} {% else %} Someone {% endif %}
                submitted a review for <a href="{% url 'course_page' activity.course.slug %}">{{ activity.course.name }}</a>

                <div class="review-body">
                    {% include 'objects/course/review.html' %}
                </div>

                <hr class="end-of-activity">
                <a href="{% url 'course_page' activity.course.slug %}?page=info"> Submit review </a> &middot;
                <a href="{% url 'course_page' activity.course.slug %}?page=info"> Rate course </a> &middot;
                <a href="{% url 'course_page' activity.course.slug %}?page=info"> Check all reviews </a>

            </div>
        </div>

    </div>
</div>