{% load humanize %}
{% load i18n %}

<div class="block"> 
    <div class="activity review-activity">
    
        <div class="panel panel-default">
            <div class="panel-body">

                {% if comment.posted_by %}
                    {% if comment.posted_by.id == user_auth.id %}
                        You
                    {% else %}
                        {% with comment.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %} 
                    {% endif %}
                {% else %} 
                    Someone 
                {% endif %}
                submitted a review for <a href="{% url 'course_page' activity.course.slug %}">{{ activity.course.name }}</a>

                <div class="review-body">
                    {% include 'objects/course/review.html' %}
                </div>

                <hr class="end-of-activity">
                <a href="{% url 'course_page' activity.course.slug %}?page=info&amp;review_course_tab=True#course_reviews"> {% trans "Submit review" %} </a> &middot;
                <a href="{% url 'course_page' activity.course.slug %}?page=info&amp;review_course_tab=True#course_reviews"> {% trans "Rate course" %} </a> &middot;
                <a href="{% url 'course_page' activity.course.slug %}?page=info#course_reviews"> {% trans "Check all reviews" %} </a>

            </div>
        </div>

    </div>
</div>