{% load humanize %}
{% load i18n %}
{% load connect_extras %}
<div class="panel panel-default sidebar">
    <div class="panel-body">
        <div>

            <hr/>
            <!-- ######### -->
            <!-- SCHEDULE -->
             <!-- ######### -->

            <div class="row">
                <div class="row text-center">
                    <span id="dashboard-scheduler-icon" class="icon icon-calendar"> Calendar </span>
                </div>
                <br>
                <div class="row center-block sidebar-schedule">
                    
                        <table class="sidebar-schedule-table">
                            {% if schedule_items %}
                                {% for item in schedule_items %}
                                    <tr> 
                                        <td class="time-col text-muted">
                                            {{ item.start|time:"H:i"}}
                                        </td>
                                        <td class="description-col">
                                            {% if item.courseappointment %}
                                                <a href="{% url 'course_page' item.courseappointment.course.slug %}">{{ item.courseappointment.description|slice:":30" }}</a>
                                            {% else %}
                                                {{ item.description|slice:":30" }}
                                            {% endif %}

                                            {% if item.location %}
                                                @ {{ item.location|slice:":30" }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td> Nothing planned for today :) </td>
                                </tr>
                            {% endif %}
                        </table>

                </div>
                
            </div>
            
            <hr/>






            <!-- ######### -->
            <!--  COURSES  -->
            <!-- ######### -->
            <div class="row">
                

                <div class="row center-block">
                                        
                    {% if courses.enrolled %}
                        <div class="row text-center">
                            <span id="dashboard-scheduler-icon" class="icon icon-book"> Courses Enrolled </span>
                        </div>
                        <br>
                        <table class="sidebar-courses-table">
                            {% for course_item in courses.enrolled %}
                                {% include 'objects/dashboard/dashboard_course_row.html' %}
                            {% endfor %}
                        </table>
                        <br/>
                    {% endif %}

                    {% if courses.managed %}
                        <div class="row text-center">
                            <span id="dashboard-scheduler-icon" class="icon icon-book"> Courses Taught </span>
                        </div>
                        <br>
                        <table class="sidebar-courses-table">
                            {% for course_item in courses.managed %}
                                {% include 'objects/dashboard/dashboard_course_row.html' %}
                            {% endfor %}
                        </table>
                        <br/>
                    {% endif %}

                    {% if courses.assisted %}
                        <div class="row text-center">
                            <span id="dashboard-scheduler-icon" class="icon icon-book"> Courses Assisted </span>
                        </div>
                        <br>
                        <table class="sidebar-courses-table">
                            {% for course_item in courses.assisted %}
                                {% include 'objects/dashboard/dashboard_course_row.html' %}
                            {% endfor %}
                        </table>
                    {% endif %}

                    {% if not courses.enrolled and not courses.managed and not courses.assisted %}
                        <div class="row text-center">
                            <span id="dashboard-scheduler-icon" class="icon icon-book"> Coursesj     </span>
                        </div>
                        <br>
                        <table class="sidebar-courses-table">
                            <tr>
                                <td> You are not registered in any courses </td>
                            </tr>
                        </table>
                    {% endif %}
                    
                </div>

            </div>
            
            <hr/>





            <!-- ######### -->
            <!--  CONNECT -->
            <!-- ######### -->

            <div class="row">
                <div class="row text-center">
                    <span id="dashboard-scheduler-icon" class="icon icon-link"> Connect </span>
                </div>
                <br>
                <div class="row center-block">
                    
                    <table class="sidebar-forum-posts">
                        {% if forum_posts %}
                            {% for post in forum_posts %}     
                                <tr>
                                    <td class="post_name">
                                        {% if post.forum.forum_type == "1" %} {% comment %} General Forum {% endcomment %}
                                            <a href="{% url 'forum_general' %}?post={{post.id}}"> {{ post.name|slice:":30" }} </a>
                                        {% elif post.forum.forum_type == "2" %} {% comment %} Course Forum {% endcomment %}
                                            <a href="{% url 'course_page' post.forum.forumcourse.course.slug %}?page=connect&amp;post={{post.id}}"> {{ post.name|slice:":30" }} </a>
                                        {% endif %}
                                    </td>
                                    <td class="likes_number">
                                        <span class="icon icon-thumbs-up"></span> {% if post.upvoted_by.all.count %} {{ post.upvoted_by.all.count }} {% else %} 0 {% endif %}
                                    </td>
                                </tr>                     
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td> You have not started any discussions yet. </td>
                            </tr>
                        {% endif %}
                    </table>
                    
                </div>

            </div>
            
            <hr/>
        </div>
    </div>
</div>