{% load humanize %}
{% load i18n %}
<div class="panel panel-default sidebar">
    <div class="panel-body">
        <div>

            <hr/>
            <!-- ######### -->
            <!-- SCHEDULE -->
             <!-- ######### -->

            <div class="row">
                <div class="row text-center">
                    <span id="dashboard-scheduler-icon" class="icon icon-calendar"> Schedule </span>
                </div>
                <br>
                <div class="row center-block sidebar-schedule">
                    
                        <table class="sidebar-schedule-table">
                            {% if schedule_items %}
                                {% for item in schedule_items %}
                                    <tr> 
                                        <td class="time-col text-muted">
                                            {{ item.start|naturaltime }}
                                            
                                        </td>
                                        <td class="description-col">
                                            {{ item.description|slice:":30" }}

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td> Nothing planned for today :) </td>
                                </tr>
                            {% endif %}
                        </table>

                </div>
                
            </div>
            
            <hr/>






            <!-- ######### -->
            <!--  COURSES  -->
            <!-- ######### -->
            <div class="row">
                <div class="row text-center">
                    <span id="dashboard-scheduler-icon" class="icon icon-book"> Courses </span>
                </div>
                <br>

                <div class="row center-block">
                    
                    <table class="sidebar-courses-table">
                        {% if courses %}
                            {% for course_item in courses %}
                                <tr> 
                                    <td class='course_name'>
                                        <a href="{% url 'course_page' course_item.course.slug %}"> {{ course_item.course.name }} </a> {% if not course_item.is_approved %} <small class='text text-danger'> (Pending) </small> {% endif %} 
                                        <div class="block collapse" id="homework-list{{course_item.course.id}}">
                                            
                                            {% for hw in course_item.homework %}
                                                <span {% if hw.submitted %}class="text-success"{% else %}class="text-danger"{% endif %}> {{hw.hw.name}} </span> <small class="text-muted"> due {{hw.hw.deadline.end|naturaltime}} </small> <br/>
                                            {% endfor %}
                                            
                                        </div>
                                    </td>
                                    <td class='homework_number'>
                                        <a class="homework_number" data-toggle="collapse" data-parent=".sidebar-courses-table" href="#homework-list{{course_item.course.id}}">
                                            {{course_item.homework|length}}
                                        </a>
                                    </td>
                                   
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td> You are not registered in any courses </td>
                            </tr>
                        {% endif %}
                    </table>
                    
                </div>

            </div>
            
            <hr/>





            <!-- ######### -->
            <!--  CONNECT -->
            <!-- ######### -->

            <div class="row">
                <div class="row text-center">
                    <span id="dashboard-scheduler-icon" class="icon icon-link"> Connect </span>
                </div>
                <br>
                <div class="row center-block">
                    
                    <table class="sidebar-forum-posts">
                        {% if forum_posts %}
                            {% for post in forum_posts %}     
                                <tr>
                                    <td class="post_name">
                                        {% if post.forum.forum_type == "1" %} {% comment %} General Forum {% endcomment %}
                                            <a href="{% url 'forum_general' %}?post={{post.id}}"> {{ post.name|slice:":30" }} </a>
                                        {% elif post.forum.forum_type == "2" %} {% comment %} Course Forum {% endcomment %}
                                            <a href="{% url 'course_page' post.forum.forumcourse.course.slug %}?page=connect&amp;post={{post.id}}"> {{ post.name|slice:":30" }} </a>
                                        {% endif %}
                                    </td>
                                    <td class="likes_number">
                                        <span class="icon icon-thumbs-up"></span> {% if post.upvoted_by.all.count %} {{ post.upvoted_by.all.count }} {% else %} 0 {% endif %}
                                    </td>
                                </tr>                     
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td> You have not started any discussions yet. </td>
                            </tr>
                        {% endif %}
                    </table>
                    
                </div>

            </div>
            
            <hr/>
        </div>
    </div>
</div>