<div class="panel panel-default">
    <div class="panel-body">
        <div class="sidebar-header">

            <hr/>
            
            <div class="row">
                <div class="row text-primary text-center">
                    Scheduler
                </div>
                
            </div>
            
            <hr/>

            <div class="row">
                <div class="row text-center">
                    Courses
                </div>
                
            </div>
            
            <hr/>

            <div class="row">
                <div class="row text-center">
                    Discussions
                </div>
                
            </div>
            
            <hr/>
        </div>
    </div>
</div>