{% load humanize %}
{% load i18n %}

<div class="block"> 
    <div class="activity wiki-activity">
    
        <div class="panel panel-default">
            <div class="panel-body">
                {% if contribution.user.id == user_auth.id %}
                    You
                {% else %}
                    {% with contribution.user as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                {% endif %}
                changed the wiki for <a href="{% url 'course_page' activity.courseactivity.course.slug %}">{{ activity.course.name }}</a> to 
                <a href="{% url 'course_page' activity.courseactivity.course.slug %}?page=wiki"> revision r{{ contribution.revision.revision }} </a> 

                <hr class="end-of-activity">
                <a href="{% url 'versioning_revision_reapply' pk=contribution.revision.pk %}"> {% trans "Check difference" %} </a> &middot;
                <a href="{% url 'course_page' activity.courseactivity.course.slug %}?page=wiki"> {% trans "Check wiki" %} </a> 

            </div>
        </div>

    </div>
</div>