<div class="panel panel-default">
	<div class="panel-body">
		<center>
						
			<img class="profile-picture" id="profile-picture" src="{% if user.profile_picture %}{{user.profile_picture.url}}{% else %}http://placehold.it/200x200{% endif %}" />
			
			{% if own_profile %}
				{% include 'objects/profile/new_profile_picture_form.html' %}
			{% endif %}
			<h4>{{user.first_name}} {{user.last_name}}</h4>

    	    {{user.university.name}}<br />
    	    <span class="glyphicon-envelope"> </span> <a href="mailto:{{user.email}}">{{user.email}}</a> <br />
		</center>
	</div>
</div>

{% if user.summary or own_profile %}
	<div class="panel panel-default">
		<div class="panel-body" id="summary-container">
			{% if user.summary %}
				{% include 'objects/profile/summary.html' %}
			{% elif own_profile %}
				{% include 'objects/profile/edit_summary.html' %}
			{% endif %}
		</div>
	</div>
{% endif %}