{% load humanize %}

<div class="forum-answers">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.question.name }}
            <div class="answer-btn pull-right">
                <a data-toggle="collapse" data-parent="#answers{{post.question.id}}" href="#askquestion{{post.question.id}}">
                    <button type="submit" class="btn-xs btn-success">Answer</button>
                </a>
            </div>
        </div>
        <div class="panel-body">

            {% comment %}
                Other details of the post
            {% endcomment %}
            <div class="post-details">
                <div class="post-header text-muted">
                    Posted by
                    {% if not post.question.anonymous %} {% with post.question.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                    {% else %}
                        Anonymous
                    {% endif %}. 
                    {{ post.question.datetime|naturaltime }}
                </div>
                <div class="post-text">
                    {% if post.question.text %}
                        {{ post.question.text|linebreaks }}
                    {% endif %}
                </div>
            </div>
            <hr>

            {% comment %}
                Add new answer
            {% endcomment %}
            <div id="askquestion{{post.question.id}}" class="collapse">
                {% with post.question as question %}
                    {% include 'objects/forum/new_answer.html' %}
                {% endwith %}
                <hr>
            </div>

            {% comment %}
                All answers section
            {% endcomment %}
            <div class="tab-content best-answers">
                <strong> Best Answers: </strong>
                {% for answer in post.answers %}
                    {% include 'objects/forum/answer.html' %}
                {% endfor %}
                {% if post.answers|length == 0 %}
                    <div class="no-posts">
                        There are no answers yet.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>