{% load humanize %}

<div class="forum-answers">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.question.name }}

            {% block answer_question_button %}
                <div class="answer-btn pull-right">
                    <a data-toggle="collapse" data-parent="#answers{{post.question.id}}" href="#answerquestion{{post.question.id}}">
                        <button type="submit" class="btn-xs btn-success">Answer</button>
                    </a>
                </div>
            {% endblock answer_question_button %}
        </div>
        <div class="panel-body">

            {% block post_details %}
                <div class="post-details">
                    <div class="post-header text-muted">
                        <span id="upvote_post_{{ post.question.id }}">
                            {% include 'objects/forum/upvote_post.html' %}
                        </span>
                        Posted by
                        {% if not post.question.anonymous %} {% with post.question.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %}
                        {% else %}
                            Anonymous
                        {% endif %}
                        in #{{ post.question.tag.name }}.
                        {{ post.question.datetime|naturaltime }}
                    </div>
                    <div class="post-text">
                        {% if post.question.text %}
                            {{ post.question.text|linebreaks }}
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endblock post_details %}

            {% block answer_question_form %}
                <div id="answerquestion{{post.question.id}}" class="collapse">
                    {% with post.question as question %}
                        {% include 'objects/forum/new_answer.html' %}
                    {% endwith %}
                    <hr>
                </div>
            {% endblock answer_question_form %}

            {% block all_answers %}
                <div class="tab-content best-answers">
                    <strong> Best Answers: </strong>
                    {% for answer in post.answers|dictsortreversed:"rating" %}
                        {% include 'objects/forum/answer.html' %}
                    {% endfor %}
                    {% if post.answers|length == 0 %}
                        <div class="no-posts">
                            There are no answers yet.
                        </div>
                    {% endif %}
                </div>
            {% endblock all_answers %}
        </div>
    </div>
</div>