<form role="form" method="post" action="{% url 'forum_new_post' course.slug %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="posttitle-input">Post title</label>
                <input type="text" class="form-control" id="posttitle-input" placeholder="Your question" name="title">
            </div>
            <div class="form-group">
                <label for="postdesc-input">Additional description (optional)</label>
                <textarea type="text" class="form-control" id="postdesc-input" name="description" rows="4" max-length="5000"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            {% include 'objects/forum/new_post_tags.html' %}
            
            <hr>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="anonymous"> Anonymous
                </label>
            </div>

            <input type="hidden" name="forum_pk" value="{{ forum.pk }}">

            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>