<nav class="nav-sidebar">
    <ul class="nav tabs">
        {% for post in posts|dictsortreversed:"rating" %}
            <li class="forum-post {% if forloop.counter == 1 %}active{% endif %} ptag-{{ post.question.tag.name }}">
                <a href="#answers{{post.question.id}}" role="tab" data-toggle="tab"> {{ post.question.name }}
                    {% if not post.question.anonymous %}
                        <small class="pull-right post-author">
                            by {{ post.question.posted_by.last_name }}
                        </small>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>