BeautifulSoup==3.2.0
Brlapi==0.5.6
CherryPy==3.2.2
Django==1.6.1
GnuPGInterface==0.3.2
MySQL-python==1.2.3
PAM==0.4.2
PIL==1.1.7
Pillow==2.3.0
PyYAML==3.11
Routes==1.12.3
South==0.8.4
Twisted-Core==11.1.0
Twisted-Names==11.1.0
Twisted-Web==11.1.0
WebOb==1.1.1
apt-xapian-index==0.44
argparse==1.2.1
boto==2.23.0
bzr==2.5.1
chardet==2.0.1
command-not-found==0.2.44
configglue==1.0
configobj==4.7.2
cssselect==0.9.1
cssutils==0.9.8
debtagshw==0.1
defer==1.0.2
dj-database-url==0.2.2
dj-static==0.0.5
django-aggregate-if==0.5
django-bootstrap-toolkit==2.15.0
django-bootstrap3==4.7.0
django-extensions==1.3.8
django-filetransfers==0.0.0
django-guardian==1.2.4
django-haystack==2.3.1
django-html5-boilerplate==1.0.8
django-pipeline==1.3.25
django-redis-cache==0.13.0
django-reversion==1.8.1
django-shell-plus==1.1.5
django-storages==1.1.8
django-toolbelt==0.0.1
dnspython==1.9.4
elasticsearch==1.3.0
emacsway-django-versioning-62eee599800e==0.7.5.0
futures==2.1.6
gunicorn==18.0
httplib2==0.7.2
icalendar==3.8.4
indicator-cpufreq==0.1.4
ipython==2.1.0
jockey==0.9.7
keyring==0.9.2
language-selector==0.1
launchpadlib==1.9.12
lazr.restfulclient==0.12.0
lazr.uri==1.0.3
louis==2.3.0
lxml==2.3.2
mechanize==0.2.5
newrelic==2.30.0.27
nltk==2.0.4
nvidia-common==0.0.0
oauth==1.0.1
oauthlib==0.6.3
onboard==0.97.1
oneconf==0.2.8.1
openshot==1.4.0
paramiko==1.7.7.1
pexpect==2.3
piston-mini-client==0.7.2
protobuf==2.4.1
psycopg2==2.5.2
pyOpenSSL==0.12
pycrypto==2.4.1
pycups==1.9.61
pycurl==7.19.0
pygpgme==0.2
pygraphviz==1.2
pyinotify==0.9.2
pyparsing==2.0.2
pyserial==2.5
pysmbc==1.0.13
pystache==0.5.3
python-apt==0.8.3ubuntu7.2-elementary7-ubuntu12.04.1
python-dateutil==2.2
python-debian==0.1.21ubuntu1
python-openid==2.2.5
python-social-auth==0.2.0-dev
python-virtkey==0.60.0
pytz==2014.4
pyxdg==0.19
redis==2.10.1
reportlab==2.5
requests==2.3.0
requests-oauthlib==0.4.1
scss==0.8.73
sessioninstaller==0.0.0
simplejson==2.3.2
six==1.7.3
software-center-aptd-plugins==0.0.0
static==1.0.2
stgit==0.15
system-service==0.1.6
terra==0.1.7
twill==0.9
ubuntuone-storage-protocol==3.0.2
unattended-upgrades==0.1
urllib3==1.10
usb-creator==0.2.23
vboxapi==1.0
virtualenv==1.11.4
wadllib==1.3.0
wsgiref==0.1.2
xkit==0.0.0
zope.interface==3.6.1
