{% extends 'pages/base.html' %}

    <!-- Bootstrap core CSS -->
    {% comment %}
    	<link href="static/assets/css/bootstrap.css" rel="stylesheet">
    {% endcomment %}
    {% block extra_css_includes %}
    <!-- Custom styles for this template -->
    <link href="static/assets/css/website.css" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/css/icomoon.css">
    <link href="static/assets/css/animate-custom.css" rel="stylesheet">

    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    {% endblock %}
    
    {% comment %}
	    <script src="static/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/assets/js/modernizr.custom.js"></script>
	{% endcomment%}


  	{% block content %}
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
					<br>
					<br>
					<br>
					<br>
					<img id="connect_web_logo"src="static/assets/img/connect_web-web.png" width="99">
	  		 		<h2 id ="cover_page_name">connect.academy</h2>
	  		 		<hr>
	  		 		<h3 id = "cover_page_slogan">Join a community of learners</h3>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-6 callout" id="education">
					<span class="icon icon-stack"></span>
					<h2 id="education">Education</h2>
					<p> Education is the single most important thing in a persons' life. It should not be left to one or some alone.  </p>
				</div><!-- col-lg-4 -->
					
				
				<div class="col-lg-6 callout" id="community">
					<span class="icon icon-users"></span>
					<h2 id="community">Community</h2>
					<p>Using the power of a community to drive learning. Educating those around us is a responsibility we all share.</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A FEW WORDS ABOUT CONNECT ACADEMY</h1>
				<hr>
				
				<div class="col-lg-12">
					<p>We aim to bring together the power of an academic network to every day academic needs. Our mission is to create an academic network that connects scholars worldwide, while ensuring reliability of their identity and of the institution they attend. An increased number of online course platforms proves that there is an obvious need to use the power of the web for community learning. Something however, is going wrong. While this number is increasing, the effort of the average student to use these platforms, is also increasing. That is because there is no single platform that is the default choice of all professors and all students. We are many, but we are in different platforms. 
					<br>
					<br>
					These platforms, being different in scope, have failed to become part of the student's everyday academic life. These platforms are not integrated with a student's real courses and  real needs. The default learning management systems universities use link to nothing.

					Conenct Academy solves that</p>
				</div><!-- col-lg-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>MAKING EDUCATION SIMPLE</h1>
				<hr>
				<p>Education is already complicated enough; One has to find the right approach to it, the right time, the right institution, the right people and the right country. If you are a student, Connect Academy will accompany you from being registered to a course, to being assigned homework, to submitting it, to always keep track of your time and progress. If you are a professor, we provide you the simplicity you have been longing for to manage your classes and monitor performance effortlessly </p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		<!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/assets/img/team/aldo.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>arjaldo KARAJ</b></h4>
					<a href="https://www.linkedin.com/in/arjaldokaraj" class="icon icon-linkedin" target="_blank"></a>
					<a href="https://www.facebook.com/arjaldo " target="_blank" class="icon icon-facebook"></a>
					<a href="https://www.google.com/+arjaldoKARAJ" class="icon icon-googleplus" target="_blank"></a>


					<p>"I believe education is the closest we can get to providing equality. While most people seem to think smaller class sizes are a luxury only few access to, I think they are no luxury at all. Good classes are those you can fit a whole community of learners in. That is what we are doing with Connect Academy."</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/assets/img/team/daniel.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>daniel HASEGAN</b></h4>
					<a href="#" class="icon icon-twitter" target="_blank"></a>
					<a href="#" class="icon icon-facebook" target="_blank"></a>
					<a href="#" class="icon icon-github" target="_blank"></a>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/assets/img/team/stiv.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>stiv SHERKO</b></h4>
					<a href="#" class="icon icon-twitter" target="_blank"></a>
					<a href="#" class="icon icon-facebook" target="_blank"></a>
					<a href="#" class="icon icon-github" target="_blank"></a>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="static/assets/img/team/tomas.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>tomas PLLAHA</b></h4>
					<a href="#" class="icon icon-twitter" target="_blank"></a>
					<a href="#" class="icon icon-facebook" target="_blank"></a>
					<a href="#" class="icon icon-github" target="_blank"></a>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->
  		

		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>ACADEMIC NETWORK</h1>
				<hr>
				<p>Do grades say anything about how skilled a student is? If you think they do, think again. If you think they don't, think again. We at Connect Academy think that a community of learners are at least just as good at evaluating someone's skills as a professsor. Join us, learn and teach while getting recognition from an academic network of users.</p>
			</div><!-- container -->
		</section><!-- section -->


		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR POPPING BY</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<div class="col-lg-12">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span>&nbsp Bremen, Germany<br/>
						<span class="icon icon-envelop"></span> <a href="#">&nbsp hello@connect.academy</a> <br/>
						<span class="icon icon-twitter"></span> <a href="#"> &nbsp @connectacad </a> <br/>
						<span class="icon icon-facebook"></span> <a href="#">&nbsp Connect Academy </a> <br/>
					</p> 
					</div>

					<div class="col-lg-12">
					<h3>Support Us</h3>
					<p>Changing education is not a simple task and one cannot do it alone and neither can 4 of us. We would appreciate any help we can get.</p>
					</div><!-- col -->


				</div><!-- col -->
				
				<div class="col-lg-8">
					<h3>Newsletter</h3>
					<p>If you would like to hear more often from us, being for the development of a new feature or about expanding our team, subscribe to our newsletter and be updated with the latest information regarding Connect Academy. Our policy is against bothering people, hence our newsletters will only be as frequent as necessary.</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign in</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
			</div><!-- row -->
		
		</div><!-- container -->
	<br>
	<br>
		<div id="footerwrap">
			<div class="container">
				 	&copy Connect Academy 2014
			</div>
		</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% endblock %}

	{% block extra_js_includes %}
		<script type="text/javascript" src="static/assets/js/modernizr.custom.js"></script>
		<script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/assets/js/retina.js"></script>
		<script type="text/javascript" src="static/assets/js/jquery.easing.1.3.js"></script>
	    <script type="text/javascript" src="static/assets/js/smoothscroll.js"></script>
		<script type="text/javascript" src="static/assets/js/jquery-func.js"></script>
	{% endblock %}
