{% extends "pages/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Connect Academy Etiquette</h3>
            <p>
                As a learner on Connect Academy, you are part of a learning community that builds upon diversity. We believe all communities ought to be governed by certain rules, and therefore Connect Academy community has some basic rules. If you would like to discuss the fact that communities need rules to be governed by, please initiate a discussion. If not, or already did so, or are curious to see our rules, please read what constitutes our etiquette:
            </p>
            <p>
                <strong><i>Treat others as you want to be treated</i></strong>. Do not insult, condescend and use wording that is directly or indirectly offensive to any of users in this platform. Going the cliche way - Small people discuss other people, so be great and discuss ideas instead.  NB: If you are a masochist, treat others as you do not want to be treated. 
            </p>
            <p>
                <strong><i>Respect Diversity</strong></i>. Connect Academy is home to learners of different cultures and backgrounds. Please choose your words carefully to avoid being or being perceived offensive on matters of gender, age, religion, race, sexual orientation, or topics that are controversial.
            </p>
            <p>
                Post appropriate content. The following are NOT allowed:
                <ul>
                    <li>Content that infringes copyrights. </li>
                    <li>Content with the purpose to advertise. </li>
                    <li>Defamatory, profane, pornographic or unlawful content. </li>
                </ul>
            </p>
                <strong><i>Add value</strong></i>. Try your best to not post duplicates, to provide assurance and justification of the claims made and contribution given. Do not be afraid to ask questions. 
            </p>
            <p>
                Remember that not everyone in the platform know how smart, kind and sensitive you are. You are what others see from your posts. Make them show your best, make them show the curious and talented learner in you. 
            </p>
            <p>
                Upon repeated violation of the abovementioned rules, we reserve the right to restrict a user’s ability to use all functionalities of the platform. 
            </p>


            <h3>Posting Guidelines on Connect Academy</h3>

            <p>
                To make the use of the resources in this platform easy and efficient, please follow the guidelines below: 
            </p>
            <p>
                <strong><i>Use relevant and accurate titles</strong></i>. Making sure that the post title is relevant to the discussion started or question asked and accurately depicts it, makes the finding of it easier.
            </p>
            <p>
                <strong><i>Vote responsibly</strong></i>. Please Upvote only helpful posts and downvote only those that are not helpful or violate the Connect Academy Etiquette. 
            </p>
            <p>
                <strong><i>Double check</strong></i>. Before posting something, check whether a duplicate already exists in the platform. If it does not, than double check for grammatical errors. 
            </p>
            <p>
                <strong><i>Keep the post focused</strong></i>. Please make sure that your post does not leave space for follow up discussion to treat multiple topics. 
            </p>

        </div>
    </div>
    </div>
</div>
{% endblock content %}