{% extends 'pages/base.html' %}

{% block content %}
    <div class="row course-page">
        <div class="col-md-4">
            <div class="course-sidebar">
                {% include 'objects/course/sidebar.html' %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="course-details">
                <div class="tab-content">
                    {% include 'objects/course/course_activity.html' %}
                    {% include 'objects/course/course_info.html' %}
                    {% include 'objects/course/course_wiki.html' %}
                    {% include 'objects/course/course_forum.html' %}
                    {% if current_homework or documents %}
                        {% include 'objects/course/course_resources.html' %}
                    {% endif %}
                    {% if teacher.is_teacher %}
                        {% include 'objects/course/course_teacher_dashboard.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}