{% extends 'pages/base.html' %}

{% load i18n %}

{% block content %}
	<div class="dashboard-page">
        <div class="row">

            <div class="col-md-4">
                <div class="student-dashboard-sidebar">
                    {% include 'objects/dashboard/sidebar.html' %}
                </div>
            </div>

            <div class="col-md-8">
                {% include 'objects/dashboard/activities_container.html' %}

                {% if activities|length == 0 %}
                    <div class="alert alert-warning">
                        {% trans "There seems to be no activity on your news feed. Register for courses to get notified about their changes" %}
                    </div>
                {% endif %}
            </div>

        </div>
	 </div>
{% endblock %}

{% block extra_js_includes %}
  <script type="application/javascript" src="{{ STATIC_URL }}ckeditor_mini/ckeditor.js" charset="utf-8"></script>
{% endblock %}

{% block extra_css_includes %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}ckeditor_mini/plugins/codesnippet/lib/highlight/styles/github.css">
{% endblock %}