{% extends 'pages/base.html' %}

{% block content %}
    <div class="row profile-page">
        <div class="col-md-4">
            <div class="profile-sidebar">
                {% include 'objects/profile/sidebar.html' %}
            </div>
        </div>

        <div class="col-md-8">
            {% include 'objects/dashboard/activities_container.html' %}
        </div>

    </div>
{% endblock %}

{% block extra_js_includes %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
{% endblock %}