{% if documents %}
    <div class="course-detail">
        <strong> Documents: </strong>
        <div class="content">
            <ul>
                {% for document in documents %}
                    <li>
                        <a href="{{ document.document.url }}"> {{ document.name }} </a>
                        {% if document.description %}
                            <small> {{ document.description }} </small>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

