
<div class="row agg-ratings">
    <div class="col-md-6">
        {% for rating in ratings %}
            {% if rating.type != 'Professor' %}
                <div class="row rating">
                    <div class="col-md-8">
                        {{ rating.type }}:
                    </div>

                    <div class="col-md-4">
                        <span class="badge course-rating">
                            <span class="rating-agg-score"> {{ rating.score|floatformat:1 }} </span>
                        </span>
                        <span class="rating-nrs text-muted">
                            ({{ rating.count }})
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-6">
        {% for rating in ratings %}
            {% if rating.type == 'Professor' and user_auth %}
                <div class="row rating">
                    <div class="col-md-8">
                        {% with rating.professor as juser %}
                            {% include 'objects/user_link.html' %}
                        {% endwith %}
                    </div>

                    <div class="col-md-4">
                        <span class="badge course-rating">
                            <span class="rating-agg-score"> {{ rating.score|floatformat:1 }} </span>
                        </span>
                        <span class="rating-nrs text-muted">
                            ({{ rating.count }})
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
