<div id="registrationModal{{jcourse.id}}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title" id="registrationModalLabel{{jcourse.id}}"><b>Are you sure you want to register for this course?</b></h3>
            </div>
            <div class="modal-body">
                <h4><b>{{jcourse.name}}</b></h4>
                <p>{{jcourse.description}}</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <form action='/course/{{jcourse.slug}}/register' method="POST" class="confirm_registration">
                        {% csrf_token %}
                        <input type='hidden' name='courseID' value='{{jcourse.id}}'/>
                        <button class="btn btn-danger" data-dismiss="modal">No, cancel</button>
                        <input class="btn btn-primary" type="submit" value="Yes, register" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% if registration_open or user_auth.user_type == 1 %}
    {% if registration_status == 0 %} <!-- open -->
        <a data-toggle="modal" href="#registrationModal{{jcourse.id}}" class="btn btn-success registration-btn" id='register_button{{jcourse.id}}'>
            {% if user_auth.user_type == 0 %} <!-- Student -->
                Register
            {% elif user_auth.user_type == 1 %} <!-- Professor -->
                I am teaching this course
            {% endif %}
        </a>
    {% elif registration_status == 1 %} <!-- pending -->
        <a class="btn btn-success registration-btn" disabled><b>Pending Registration</b></a>
    {% endif %}
{% endif %}

{% if registration_status == 2 %} <!-- registered -->
    <a class="btn btn-primary registration-btn" disabled><b>Registered</b></a>
{% endif %}
