{% load humanize %}

<div class="review-block">
    {% if user_auth or not comment.dont_show %}
        <div class="review">
            {% comment %}
                Review header
            {% endcomment %}
            <div class="row">
                <div class="text-muted col-md-3"> @{{ comment.comment.id }} </div>
                <div class="text-muted col-md-4"> 
                    <span class="badge review-score-badge">{{ comment.score }}</span> 
                    {% if comment.posted_by %} by {{ comment.posted_by }} {% endif %} 
                </div>
                <div class="text-muted col-md-5">
                    <div class="review-datetime">
                        {{ comment.comment.datetime|naturaltime }}
                    </div>
                </div>
            </div>

            {% comment %}
                Comment contents
            {% endcomment %}
            <div class="review-text" align="justify">
                {{ comment.comment.review|linebreaks }}
            </div>

            {% comment %}
                Comment Rating system
            {% endcomment %}
            {% if user_auth and comment.should_vote %}
                <div class="review-rate">
                    <div class="rate-content">
                        <small> Helpful?
                            <form class="review-rate-form" role="form" action="{% url 'vote_review' comment.comment.course.slug %}" method="post">
                                <input type="hidden" name="review_id" value="{{comment.comment.id}}">
                                <input type="hidden" name="vote_type" value="upvote">
                                <input type="hidden" name="url" value="{% url 'course_page' comment.comment.course.slug %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-xs">Yes</button>
                            </form>

                            <form class="review-rate-form" role="form" action="{% url 'vote_review' comment.comment.course.slug %}" method="post">
                                <input type="hidden" name="review_id" value="{{comment.comment.id}}">
                                <input type="hidden" name="vote_type" value="downvote">
                                <input type="hidden" name="url" value="{% url 'course_page' comment.comment.course.slug %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-xs">No</button>
                            </form>

                        </small>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if comment.dont_show %}
        <a class="comment-flag" href="#">
            {% if user_auth %}
                This review was flagged as inaccurate or offensive. Click to reveal.
            {% else %}
                This review was flagged as inaccurate or offensive. Log in to view it.
            {% endif %}
        </a>
    {% endif %}
</div>