<div class="panel panel-default">
    <div class="panel-body">
        <div class="sidebar-header">
            <h3 class="course-name text-center">
                <a href="{% url 'course_page' course.slug %}">{{ course.name }}</a>
            </h3>
            <hr>
            <div class="course-prof pull-right">
                {% for juser in professors %}
                    <div class="text-right">
                        {% if forloop.counter == 1 %}
                            <span class="text-muted"> Professor{% if professors|length > 1 %}s{% endif %}:</span>
                        {% endif %}
                        {% include 'objects/user_link.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="sidebar-body">
            <div class="sidebar-tabs">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href=".course-activity" role="tab" data-toggle="tab">Activity log</a></li>
                        <li class=""><a href=".course-info" role="tab" data-toggle="tab">Course info</a></li>
                        <li class=""><a href=".course-wiki" role="tab" data-toggle="tab">Wiki</a></li>
                        <li class=""><a href=".course-forum" role="tab" data-toggle="tab">Connect</a></li>
                        <li class=""><a href=".course-resources" role="tab" data-toggle="tab">Resources and Assignments</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    {% include 'objects/course/sidebar_activity.html' %}
    {% include 'objects/course/sidebar_info.html' %}
    {% include 'objects/course/sidebar_wiki.html' %}
    {% include 'objects/course/sidebar_forum.html' %}
    {% include 'objects/course/sidebar_resources.html' %}
</div>