<div class="tab-pane course-wiki fade {% if current_tab == 'wiki' %}in active{% endif %}">
    {% if wiki and can_edit_wiki %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4> 
                    Wiki page 
                    {% if can_edit_wiki %}
                        <a class='btn btn-primary pull-right' href='{% url "edit_wiki_page" course.slug %}'>Edit Wiki</a>
                    {% endif %}
                </h4>
            </div>
        </div>
    {% endif %}
</div>