<div class='course-syllabus'>
	<ol>
	{% for entry in syllabus %}
		<li>
			<a data-toggle="collapse" data-parent=".course-syllabus" href="#course-topic{{entry.topic.id}}">{{ entry.topic.name }}</a> 
			
			<div class="collapse course-topic" id="course-topic{{entry.topic.id}}">
				{% if entry.topic.description %}
					<strong> Description: </strong>
					<span class='content'>
						{{ entry.topic.description }}
					</span>
				{% endif %}

				{% if entry.documents %}
					{% with entry.documents as documents %}
						{% include 'objects/course/documents.html' %}
					{% endwith %}
				{% endif %}	

				{% if entry.homework %}
					{% with entry.homework as homework %}
						{% include 'objects/course/homework_student.html' %}
					{% endwith %}
				{% endif %}
			</div>
		</li>
	{% endfor %}
	</ol>
</div>