{% load i18n %}

<form class="form" class="homework-form" action="{% url 'submit_homework_request' course.slug %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="homeworkName{{course.id}}">{% trans "Homework Name" %}</label>
        <small> {% trans "(Example: Homework1, Project1, ... )" %} </small>
        <input class="form-control" type="text" name="name" id="homeworkName{{course.id}}" maxlength="200" required>
    </div>

    <div class="form-group">
        <label for="homeworkTopic{{course.id}}">{% trans "Course Topic" %}</label>
        <select class="form-control" name="topic_id" id="homeworkTopic{{course.id}}" required>
            <option value=""> {% trans "Please select one" %} </option>
            {% for topic in syllabus %}
                <option value="{{topic.topic.id}}"> {{ topic.topic.name }} </option>
            {% endfor %} 
        </select>
    </div>

    <div class="form-group">
        <label for="homeworkDescription{{course.id}}">{% trans "Description" %} {% trans "(optional)" %}</label>
        <textarea class="form-control" type="text" name="description" id="homeworkDescription{{course.id}}" maxlength="1000" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="homeworkStart{{course.id}}">{% trans "Start" %}</label>
        <div class='input-group date homework-start-datetime' data-date-format="DD/MM/YYYY HH:mm">
            <input type='text' class="form-control homework-datetime-input" name="start" id="homeworkStart{{course.id}}" />
            <span class="input-group-addon homework-datetime-button">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="homeworkDeadline{{course.id}}">{% trans "Deadline" %}</label>
        <div class='input-group date homework-deadline-datetime' data-date-format="DD/MM/YYYY HH:mm">
            <input type='text' class="form-control homework-datetime-input" name="deadline" id="homeworkDeadline{{course.id}}" />
            <span class="input-group-addon homework-datetime-button">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group text-muted"> {% trans "(times are in the local timezone)" %} </div>
    {% comment %} >>> Say it is in UTC timezone if it is not provided <<< {% endcomment %}


    <input type="hidden" name="timezone" value="">

    <input type="hidden" name="course_id" value="{{ course.id }}">
    <input type="hidden" name="url" value="{% url 'course_page' course.slug %}?page=resources">

    <input class="btn btn-primary" type="submit" value="Request" />
</form>