{% load i18n %}

{% if teacher.students.pending|length > 0 %}

  <div class="pending-registrations">
    <h3> Pending Registrations </h3>
    <hr class="top-line">

    <form method="POST" action="/approve_student_registrations">
      <div class="row">
        {% csrf_token %}
        <div class='col-md-8 list-approve'>
        
            <ul>
              {% if teacher.students.pending|length > 1 %}
                <li>
                    <input type='checkbox' class='selectAll'/> {% trans "Select All" %}
                </li>
              {% endif %}
              {% for student in teacher.students.pending %}
                <li> 
                    <input type='checkbox' name='student-{{student.id}}'> 
                    <a target='_blank' href='/profile/{{student.username}}'> {{student.first_name}} {{student.last_name}} 
                    </a> 
                </li> 
              {% endfor %}
            </ul>
            <input type='hidden' name='course' value='{{course.id}}'/>
        </div>

        <div class='col-md-4'> 
          <input class='btn btn-primary' value='Approve Registrations' type='submit'/>
        </div>
      </div>
    </form>
  </div>
{% else %}
  <p class="h3"> {% trans "There are no pending registrations for this course." %} </p>
{% endif %} 
   
