{% load i18n %}

<form class="form" action="{% url 'submit_document' course.slug %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="documentName{{course.id}}">{% trans "Document Name" %}</label>
        <input class="form-control" type="text" name="name" id="documentName{{course.id}}" maxlength="200" required>
    </div>

    {% if syllabus|length > 0 %}
        <div class="form-group">
            <label for="documentTopic{{course.id}}">{% trans "Syllabus Topic" %}</label>
            <select class="form-control" name="topic_id" id="documentTopic{{course.id}}">
                <option value=""> {% trans "No specific topic" %} </option>
                {% for topic in syllabus %}
                    <option value="{{topic.topic.id}}"> {{ topic.topic.name }} </option>
                {% endfor %} 
            </select>
        </div>
    {% endif %}

    {% if teacher.course_modules|length > 0 %}
        <div class="form-group">
            <label for="course_module{{course.id}}">{% trans "Course Module" %}</label>
            <select class="form-control" name="module_id" id="course_module{{course.id}}">
                <option value=""> {% trans "All Modules" %} </option>
                {% for module in teacher.course_modules %}
                    {% if homework.course_module.id == module.id %}
                        <option value="{{module.id}}" selected> {{  module.name }} </option>
                    {% else %}
                        <option value="{{module.id}}" > {{ module.name }} </option>
                    {% endif %}
                {% endfor %} 
            </select>
        </div>
    {% endif %}

    {% if doc_access_levels %}
        <div class="form-group">
            <label for="doc_access_level{{course.id}}">{% trans "Who can see this document?" %}</label>
            <select class="form-control" name="access_level" id="doc_access_level{{course.id}}">
                {% for level in doc_access_levels %}
                    {% if doc.access == level.id %}
                        <option value="{{level.id}}" selected> {{  level.desc }} </option>
                    {% else %}
                        <option value="{{level.id}}" > {{ level.desc }} </option>
                    {% endif %}
                {% endfor %} 
            </select>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="documentDescription{{course.id}}">{% trans "Description" %} {% trans "(optional)" %}</label>
        <textarea class="form-control" type="text" name="description" id="documentDescription{{course.id}}" maxlength="1000" rows="3"></textarea>
    </div>
    <div class="form-group">
        {% with "True" as frequired %}
        {% with "document" as fname %}
            {% include 'objects/file_input.html' %}
        {% endwith %}
        {% endwith %}
    </div>

    <input type="hidden" name="course_id" value="{{ course.id }}">
    <input type="hidden" name="url" value="{% url 'course_page' course.slug %}?page=resources">

    <input class="btn btn-primary" type="submit" value="Upload" />
</form>