{% load i18n %}

<form class="form" action="{% url 'submit_document' course.slug %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="documentName{{course.id}}">{% trans "Document Name" %}</label>
        <input class="form-control" type="text" name="name" id="documentName{{course.id}}" maxlength="200" required>
    </div>

    <div class="form-group">
        <label for="documentTopic{{course.id}}">{% trans "Course Topic" %}</label>
        <select class="form-control" name="topic_id" id="documentTopic{{course.id}}">
            <option value=""> {% trans "No specific topic" %} </option>
            {% for topic in syllabus %}
                <option value="{{topic.topic.id}}"> {{ topic.topic.name }} </option>
            {% endfor %} 
        </select>
    </div>

    <div class="form-group">
        <label for="documentDescription{{course.id}}">{% trans "Description" %} {% trans "(optional)" %}</label>
        <textarea class="form-control" type="text" name="description" id="documentDescription{{course.id}}" maxlength="1000" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="file" name="document" required>
    </div>

    <input type="hidden" name="course_id" value="{{ course.id }}">
    <input type="hidden" name="url" value="{% url 'course_page' course.slug %}?page=resources">

    <input class="btn btn-primary" type="submit" value="Upload" />
</form>