<h1>{{course.name}}</h1>

<p>{{course.description}}</p>

<table align="right" border="1" cellpadding="5" cellspacing="5" style="width:400px">
	<tbody>
		<tr>
			<td colspan="2">
				<p style="text-align:center">
					{% if course.image %}
						<img alt="Course image" height="200" src="{% url 'course_image' course.slug %}" style="float:right" width="200" />
					{% else %}
						<img alt="Course image" height="200" src="{{ STATIC_URL }}books.jpg" style="float:right" width="200" />
					{% endif %}
				</p>
			</td>
		</tr>
		<tr>
			<td>Course Name</td>
			<td><a href="{% url 'course_page' course.slug %}">{{course.name}}</a></td>
		</tr>
		<tr>
			<td>University</td>
			<td>{{course.university.name}}</td>
		</tr>
		<tr>
			<td>Professors</td>
			<td> 
			{% for prof in professors %}
				<a href="{% url 'profile' prof.username %}">
					{{prof.first_name}} {{prof.last_name}}
				</a>,&nbsp;
			{% endfor %}
			</td>
		</tr>
		<tr>
			<td>Teaching Assistants</td>
			<td>TAs</td>
		</tr>
		<tr>
			<td>Student Registrations</td>
			<td>Registered: {{registered_students}}, Pending: {{pending_students}}</td>
		</tr>
	</tbody>
</table>

<ol>
	{% for topic in course.course_topics.all %}
		<li><a href="#CourseTopic{{topic.id}}">{{topic.name}}</a></li>
	{% endfor %}
	<li><a href="#ref">References</a></li>
</ol>

{% for topic in course.course_topics.all %}
	<h2><a id="CourseTopic{{topic.id}}" name="CourseTopic{{topic.id}}"></a>{{topic.name}}</h2>

	<p>
		{% if topic.description %}
			{{topic.description}}
		{% else %}
			What is <i>{{topic.name}}</i> about? Contribute now!
		{% endif %}
	</p>
{% endfor %}

<h2><a id="ref" name="ref"></a>References</h2>

<p> Support your contributions with good references.</p>
<ol>
	{% for topic in course.course_topics.all %}
		{% for document in topic.documents.all %}
			<li> <a href="{{ document.document.url }}"> {{ document.name }} </a> </li>
		{% endfor %}
	{% endfor %}
<ol>
