{% extends 'pages/base.html' %}

{% block content %}
<div class="forum-new-post-page">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="h4">
                Submit post on the forum of course <a class="navbar-brand-course" href="{% url 'course_page' course.slug %}">{{ course.name }}</a>
            </p>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {% include 'objects/forum/new_post.html' %}
                </div>
                <div class="col-md-6">
                    {% comment %}
                        Further instructions
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}