#body_image{
    /*background-color:#F7F7FF;*/
    background-image: url(project_papper.png);
    background-repeat:repeat;
}

#main_content_container{
    padding-top: 100px;
}



/*********************************/
/********* NavBar **************/

.navbar-custom-header{
    position: fixed;
    width: 100%;
    z-index:10;
    background-color: #282828;
}


#navbar_logo{
    float:left;
    width: 40px;
    padding-top:6px;
    padding-right: 6px;
}


.navbar-custom-header .navbar-nav>li>a {
color: #FFF;
}

.navbar-custom-header .navbar-nav>.active>a, .navbar-custom-header .navbar-nav>.active>a:hover, .navbar-custom-header .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #29ABE2;
    font-weight: bold;
}



.navbar-nav>.open>a:hover, .navbar-custom-header .navbar-nav>.open>a:focus {
color: #FFF;
background-color: #3276B1;
font-weight: bold;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #FFF;
    background-color: #29ABE2;
}

.navbar-custom-header .navbar-nav>li>a:hover, .navbar-custom-header .navbar-nav>li>a:focus {
color: #29ABE2;
font-weight: bold;
}


.navbar-custom-header>.container .navbar-brand {
    color: #29ABE2;
    font-family:"OCR-A Extended", Georgia, Serif;
}

.navbar-custom-footer.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar-custom-footer {min-height:32px !important}


/****** DropDown Menu ************/


.dropdown-menu {
    position: absolute;
    top: 140%;
    left: 0;
    z-index: 100;
    min-width: 160px;
    padding: 5px 0;
    margin-right: 4px;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.428571429;
    color: #282828;
}


/*********************************/
/********* Main page ***********/

.course-block-wrapper {
    padding-bottom: 12px;
}

.school-group {
    margin-top: 8px;
}

.course-image {
    max-width: 100px;
    max-height: 100px;
}

.course-name {
    font-size: 18px;
}
.panel-heading .course-credits {
    float: right;
}

.panel-heading .course-rating {
    float: right;
}

.panel-heading .course-rating .yellow-star {
    color: #EDDA74;
}

.badge.course-credits {
    background-color: #92209B;
    border-radius: 0px;
    width: 46px;
    height: 20px;
    margin-left: 10px;
}

.badge.course-rating {
    background-color: #33424D;
    border-radius: 0px;
}

.course-catalog {
    font-size: 10px;
    margin-top: 12px;
}


/*********************************/
/* Credit slider */


#credit-slider .ui-slider-range {
    background: #729fcf;
}
#credit-slider .ui-slider-handle {
    border-color: #729fcf;
}

.credit-slider-values {
    margin-top: 15px;
}




/*********************************/
/******* Course page *********/

.course-details .course-brief-detail-wrapper {
    margin-top: 10px;
}

.course-details .course-detail {
    margin-top: 16px;
}

.main-content .course-details .course-brief-detail-wrapper .course-brief-detail {
    margin-top: 4px;
}



/*********************************/
/* Comments */

.comments .comment-submit {
    resize: vertical;
}

.comments .comments-display hr {
    margin-bottom: 12px;
}

.comments .comment-text {
    margin-top: 6px;
}

.comments .comment-datetime {
    float: right;
}



/*********************************/
/* Ratings */


.ratings {
    margin-top: 8px;
}

.ratings hr {
    margin-top: 6px;
    margin-bottom: 6px;
}

.ratings .rating-form .rating-nrs {
    font-size: 10px;
}

.ratings .yellow-star {
    color: #EDDA74;
}



/*********************************/
/******* All Comments page *******/


.comments-page .comments-display hr {
    margin-bottom: 12px;
}

.comments-page .comment-text {
    margin-top: 6px;
}

.comments-page .comment-datetime {
    float: right;
}




/*********************************/
/********* Welcome_page*********/

/* Login form */

.login-form .login-input {
    max-width: 120px;
}


#campusnet-popover{
    color: #29ABE2;
}

#login_fields{
    padding-top: 4px;
}

#login_id{
    max-width: 170px;
    max-height: 27px;
}

#login_password{
    max-height: 27px;
    margin-right: 15px;
}

#home-container{
    padding-top: 10px;
}



/************************************/
/******** Register Panel ************/


#register_panel-body{
    padding-top: 75px;
}


#register_panel-heading{
    background-color: #282828;
    color: #FFF;
    text-align: center;
    border-radius: 0px;
}


.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3);
}

#home-image-container {
    float:left;
    width:30%;
}



#home-container {   
   position:relative;
   top:90px;
}

#home-image{
    width: 700px;
}


#dLabel{
    position: relative;
    top:7px;
    right:7px;
}

.validation-ok {
    color:green;
    font-size:11px;
}
.validation-error {
    color:red;
    font-size:11px;
}


/*********************************/
/************Manage Account ***************/


#change_username_button{
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}

#change_password_button{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#change_name_button{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#manage_account_container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80%;
    padding-top: -25px;
}

#password_header{
    padding-top: 25px;   
}

#name_header{
    padding-top: 25px;
}


/*********************************/
/********STUDENT PROFILE************/

.glyphicon {  
    margin-bottom: 10px;
    margin-right: 10px;
}

#profile_details{
    width: 50%;
    float:left;
}

#profile_sidebar{
    width: 1000px;
    float:left;
}



/*********************************/
/********** Button display ************/ 

.btn-primary {
    color: #FFF;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-weight: bold;
    border-radius:0px;
}

/*  Course Filter (UG, Graduate, Both)   */

#study_groups_button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right:auto; 
    margin-left:auto;
}


/* credit slider _ sidebar */
#credit-slider .ui-slider-range {
    background: #29ABE2;

}

#credit-slider .ui-slider-handle {
    background: #29ABE2;
    border-radius: 0px;
    border-color: #FFF
}

.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*  Submit buttons */
.btn-default, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #FFF;
    background-color: #29ABE2;
    border-color: #29ABE2;
    border-radius: 0px;
}

.btn-default:hover{
    color: #FFF;
    background-color: #357EBD;
    border-color: #357EBD;
    border-radius: 0px;
}

#search_courses{
    border-radius: 0px;
}

#slider-handle-0 {
     border-radius: 0px;   
     text-align: center;
}

#slider-handle-1 {
    border-radius: 0px;
    text-align: center;
}

.login-form .login-input {
max-width: 120px;
border-radius: 0px;
}

#login_button{
    height: 27px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-block{
    border-radius: 0px;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
    text-align: center;
}


/* Credits per course */
.badge.course-credits {
    background-color: #282828;
    border-radius: 0px;
}



/********* ALERTS ************/

#alert_email_registration{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
