{% extends "pages/base.html" %}

{% load i18n %}

{% load humanize %}

{% block content %}
  <form class="form-horizontal" method="POST" role="form" action='save_wiki_page'>

    {% csrf_token %}
      <div class="row">
        <div class="panel panel-default">
          <div class = "panel-heading">
            <button type="submit" class="btn btn-success save-wiki pull-right">{% trans "Save" %}</button>
            <p class="h4"><a href="{% url 'view_wiki_page' course.slug %}">{% trans "Wiki page" %}</a> {% trans "of" %} <a href="{% url 'course_page' course.slug %}"> {{course.name}} </a></p>

          </div>


          <div class="panel-body">
          {% include 'objects/wiki/wiki_welcome.html' %}
            <div class="form-group">
                  <textarea class="form-control ckeditor"  name="content" rows="40">{{content|safe}}</textarea>
            </div>
          </div>
        </div>
      </div>
  </form>

{% endblock %}

{% block extra_js_includes %}
  <script type="application/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js" charset="utf-8"></script>
  <script type="application/javascript" src="{{ STATIC_URL }}adapters/jquery.js" charset="utf-8"></script>
{% endblock %}