{% extends "pages/base.html" %}

{% load humanize %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="panel panel-default">
	  <div class = "panel-heading">
      <h4>{% trans "Wiki page" %} {% trans "of" %} <a href="{% url 'course_page' course.slug %}"> {{course.name}} </a></h4>
      {% if can_edit_wiki %}
        <a class='btn btn-default' href='{% url "edit_wiki_page" course.slug %}'>{% trans "Edit Wiki" %}</a>
      {% endif %}
    </div>


    <div class="panel-body">
  		<div class="rich-cke-text" id="wiki_content">
      			{{wiki.content|safe}}
  		</div>
      {% if can_edit_wiki %}
        <div class="revision">
            <a href="{% url 'versioning_revision_list' wiki_type_id wiki.id %}">{% trans "View the list of revisions." %}</a>
        </div>
      {% endif %}
    </div>
  </div>
	</div>


{% endblock %}

{% block extra_js_includes %}
  <script type="text/javascript" src="{{STATIC_URL}}ckeditor/ckeditor.js"></script>
{% endblock %}

{% block extra_css_includes %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}ckeditor/plugins/codesnippet/lib/highlight/styles/github.css">
{% endblock %}