{% load i18n %}

{% if course.additional_info %}
    <div class="course-detail">
        <h4> {% trans "Additional information" %}: </h4>
        <div class="content">
            {{ course.additional_info|linebreaks }}
        </div>
    </div>
{% endif %}

{% if course.grades %}
    <div class="course-detail">
        <h4> {% trans "Grade breakdown" %}: </h4>
        <div class="content">
            {{ course.grades|linebreaks }}
        </div>
    </div>
{% endif %}

{% if course.grades_info %}
    <div class="course-detail">
        <h4> {% trans "Additional information about grades" %}: </h4>
        <div class="content">
            {{ course.grades_info|linebreaks }}
        </div>
    </div>
{% endif %}

{% if course.hours_per_week %}
    <div class="course-detail">
        <h4> {% trans "Hours per week" %}: </h4>
        <span class="content">
            {{ course.hours_per_week|linebreaks }}
        </span>
    </div>
{% endif %}
