
    {% if current_tab == "activity" or not current_tab %}
        {% include 'objects/course/course_activity.html' %}
    {% elif current_tab == "info" %}
        {% include 'objects/course/course_info.html' %}
    {% elif current_tab == "wiki" %}
        {% include 'objects/course/course_wiki.html' %}
    {% elif current_tab == "connect" %}
        {% include 'objects/course/course_forum.html' %}
    {% elif current_tab == "resources" and current_homework or current_tab == "resources" and documents %}
        {% include 'objects/course/course_resources.html' %}
    {% elif current_tab == "teacher" and teacher.is_teacher %}
        {% include 'objects/course/course_teacher_dashboard.html' %}
    {% endif %}
