{% load i18n %}
<div class="tab-pane course-forum fade {% if current_tab == 'connect' %}in active{% endif %}">
    {% include 'objects/forum/bar.html' %}

    <div class="tab-content answers-tabs">
        {% if not posts %}
            <div class="alert alert-success" role="alert">{% trans "There is no post yet for this course! Why don't you post the first one by " %}
                <a class="new-post-link" href="{{forum.get_new_post_url}}">{% trans "clicking here" %}</a>?
            </div>
        {% endif %}
        {% for post in posts|dictsortreversed:"rating" %}
            <div class="tab-pane fade {% if current_post == post.question.id %}in active{% elif forloop.counter == 1 and not current_post  %}in active{% endif %}" id="answers{{post.question.id}}">
                {% include "objects/forum/answers.html" %}
            </div>
        {% endfor %}
    </div>
</div>