{% load i18n %}

<div class="tab-pane course-resources fade {% if current_tab == 'resources' %}in active{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            {% if not current_homework and not documents %}
                <h4>{% trans "You are a lucky person! There is no homework for you..." %} <small class="pull-right text-muted"> yet! </small></h4>
            {% endif %}

            {% if current_homework %}
                <h3> {% trans "Assignments" %} </h3>
                <hr class="top-line">

                {% with current_homework as homework %}
                
                    {% with 'main' as hw_modal_spec %} 
                        {% include 'objects/course/homework/student.html' %}
                        {% comment %} on course page there are 2 such modals {% endcomment %}    
                    {% endwith %}
                    
                {% endwith %}
            {% endif %}

            {% if documents %}
                <h3> {% trans "Documents" %} </h3>
                <hr class="top-line">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'objects/course/documents.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>