{% load i18n %}

{% if teacher.is_approved %}

<div class="tab-pane course-teacher fade {% if current_tab == 'teacher' %}in active{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Tab panes -->
            <div class="tab-content">

                {% if teacher.students.registered|length > 0 %}
                    <div class="tab-pane active fade in" id="teacher_registered">
                        <div class="tabpane-contents registered-students">
                            {% include 'objects/course/management/registered_students.html' %}
                        </div>
                    </div>
                {% endif %}

                {% if teacher.students.pending|length > 0 %}
                    <div class="tab-pane fade {% if teacher.students.registered|length == 0 %}in active{% endif %}" id="teacher_pending">
                        <div class="tabpane-contents pending-registrations">
                            {% include 'objects/course/management/pending_registrations.html' %}
                        </div>
                    </div>
                {% endif %}


                <div class="tab-pane fade {% if teacher.students.registered|length == 0 and teacher.students.pending|length == 0  %}in active{% endif %}" id="teacher_documents">
                    <div class="tabpane-contents course-documents">

                        <div class="row">
                            <div class="col-md-6">
                                <h3> {% trans "Current resources" %} </h3>
                            </div>

                            <div class="col-md-6">
                                <h3> {% trans "Upload course resource" %} </h3>
                            </div>
                        </div>
                        <hr class="top-line">

                        <div class="row">
                            <div class="col-md-6">
                                {% include 'objects/course/documents.html' %}
                            </div>

                            <div class="col-md-6">
                                {% with course.topics as topics %}
                                    {% include 'objects/course/management/upload_document.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="teacher_homework">
                    <div class="tabpane-contents course-homework">

                        <div class="row">
                            <div class="col-md-6">
                                <h3> {% trans "Current homework" %} </h3>
                            </div>

                            <div class="col-md-6">
                                <h3> {% trans "Request homework" %} </h3>
                            </div>
                        </div>
                        <hr class="top-line">

                        <div class="row">
                            <div class="col-md-6">
                                {% for hw in all_homework %}
                                    {% include 'objects/course/homework_details.html' %}
                                    <hr>
                                {% endfor %}
                            </div>

                            <div class="col-md-6">
                                {% with course.topics as topics %}
                                    {% include 'objects/course/management/demand_homework.html' %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="teacher_forum">
                    <div class="tabpane-contents class-forum">
                        {% include "objects/forum/forum_management.html" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% else %}

<div class="tab-pane course-teacher fade {% if current_tab == 'teacher' %}in active{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="h3"> {% trans "You are not yet approved as a teacher for this course!" %} </p> 
        </div>
    </div>
</div>

{% endif %}