{% load i18n %}
{% load connect_extras %}

<div class="tab-pane course-wiki fade {% if current_tab == 'wiki' %}in active{% endif %}">
    <div class="panel panel-default">
        <div class="panel-body">
            {% if wiki %}
                {{ wiki.content|safe }}
            {% else %}
                <h4> {% trans "Wiki" %} </h4>
                {% trans "This course doesn't have a wiki yet." %} 
                {% if can_edit_wiki %}
                    {% url 'edit_wiki_page' course.slug as edit_wiki_page %}
                    {% blocktrans with link_start='<a href="{0}">'|safewrap:edit_wiki_page link_stop='</a>' %}
                        Contribute by {{link_start}} creating {{link_stop}} one.
                    {% endblocktrans %}
                {% endif %}
                <div class="wiki-explanation">
                    {% trans "The Wiki Pages are populated by students and they are meant for you to access relevant information easily and facilitate your studying process. Keep this Wiki Page structured according to the course syllabus and complement the course material by adding additional relevant information in the right chapters." %}
                </div>
            {% endif %}
        </div>
    </div>
</div>