{% load i18n %}

{% if documents %}
    <div class="course-detail">
        <strong> {% trans "Resources" %}: </strong>
        <div class="content">
            <ul>
                {% for document in documents %}
                    <li>
                        <a href="{{ document.document.url }}"> {{ document.name }} </a>
                        {% if document.description %}
                            <small> {{ document.description }} </small>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    {% trans "There are no resources uploaded!" %}
{% endif %}

