{% load i18n %}

<div id="registrationModal{{course.id}}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title" id="registrationModalLabel{{course.id}}"><b>{% trans "Are you sure you want to register for this course?" %}</b></h3>
            </div>
            <form action='{% url "register_course" course.slug %}' method="POST" class="confirm_registration">
                {% csrf_token %}
                <div class="modal-body">
                    <h4><b>{{course.name}}</b></h4>
                    <p>{{course.description}}</p>
                    {% if course_modules and user_auth.user_type == 0 %} <!-- Student -->
                        <select name='course_module' class='form-control' required>
                            <option value="">Please select a course module ...</option>
                            {% for module in course_modules %}
                                <option value='{{module.id}}'>{{module.name}}</option>
                            {% endfor%}
                        </select>
                    {% endif %}

                </div>

                <div class="modal-footer">
                    <div class="btn-group">

                        <input type='hidden' name='courseID' value='{{course.id}}'/>
                        <button class="btn btn-danger" data-dismiss="modal">{% trans "No, cancel" %}</button>
                        <input class="btn btn-primary" type="submit" value="{% trans 'Yes, register' %}" />
                       
                    </div>
            </div>
            </form>

        </div>
    </div>
</div>

{% if registration_open or user_auth.user_type == 1 %}
    {% if registration_status == 0 %} <!-- open -->
        <a data-toggle="modal" href="#registrationModal{{course.id}}" class="btn btn-primary registration-btn" id='register_button{{course.id}}'>
            {% if user_auth.user_type == 0 %} <!-- Student -->
                {% trans "Register" %}
            {% elif user_auth.user_type == 1 %} <!-- Professor -->
                {% trans "I am teaching this course" %}
            {% endif %}
        </a>
    {% elif registration_status == 1 %} <!-- pending -->
        <a class="btn btn-success registration-btn" disabled><b>{% trans "Pending Registration" %}</b></a>
    {% endif %}
{% endif %}

{% if registration_status == 2 %} <!-- registered -->
    <a class="btn btn-primary registration-btn" disabled><b>{% trans "Registered" %}</b></a>
{% endif %}
