{% load humanize %}
{% load i18n %}

{% if not comment.dont_show_at_all %}
<div class="review-block">
    <div class="review {% if comment.dont_show %}hidden{% endif %}">
        {% comment %}
            Review header
        {% endcomment %}
        <div class="row">
            <div class="text-muted col-md-1 text-left"> @{{ comment.comment.id }} </div>
            <div class="text-muted col-md-1 text-left">
                {% include 'objects/course/upvote_review.html' %}
            </div>
            <div class="text-muted col-md-5 text-left">
                {% if comment.posted_by %} by {% with comment.posted_by as juser %} {% include 'objects/user_link.html' %} {% endwith %} {% endif %} 
            </div>
            <div class="text-muted col-md-5 text-right">
                <div class="review-datetime">
                    {{ comment.comment.datetime|naturaltime }}
                </div>
            </div>
        </div>

        {% comment %}
            Comment contents
        {% endcomment %}
        <div class="review-text" align="justify">
            {{ comment.comment.review|linebreaks }}
        </div>

        {% comment %}
            Comment Rating system
        {% endcomment %}
        {% if not comment.downvoted %}
            <div class="review-flag">
                <div class="flag-content text-muted">
                    <small> {% trans "Innapropriate?" %}
                        <form class="flag-review-form" role="form" action="{% url 'vote_review' comment.comment.course.slug %}" method="post">
                            <input type="hidden" name="review_id" value="{{comment.comment.id}}">
                            <input type="hidden" name="vote_type" value="downvote">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-xs flag-btn">{% trans "Flag" %} <span class="glyphicon glyphicon-flag"></span> </button>
                        </form>
                    </small>
                </div>
            </div>
        {% endif %}
    </div>

    {% if comment.dont_show %}
        <a class="display-flagged text-danger" href="#">
            {% trans "This review was flagged as inaccurate or offensive. Click to reveal." %}
        </a>
    {% endif %}
</div>
{% endif %}