{% load i18n %}

<div class="course-detail course-reviews" id="course_reviews">
    <div class="submititems pull-right">
        <a data-toggle="collapse" href="#submitreview"><button type="submit" class="btn btn-primary">{%trans "Submit review" %}</button></a>
        
        <a data-toggle="collapse" href="#submitrating">
            <button type="submit" class="btn btn-primary">{% trans "Rate course" %}</button>
        </a>
    </div>
    <h4> {% trans "Reviews" %} </h4>
    <span class="content">
        {% comment %}
            The submit review/rating form
        {% endcomment %}
        {% if user_auth %}
            <div class="collapse submit-rating-wrapper {% if review_course_tab %}in{% endif %}" id="submitrating">
                <hr>
                {% include 'objects/course/submit_ratings.html' %}
            </div>
            <div class="collapse submit-review-wrapper {% if review_course_tab %}in{% endif %}" id="submitreview">
                <hr>
                {% include 'objects/course/submit_review.html' %}
            </div>
        {% endif %}

        {% comment %}
            The reviews display
        {% endcomment %}
        <div class="reviews-display">
            <hr>
            {% for comment in comments|dictsort:"upvotes" reversed %}
                {% include "objects/course/review.html" %}
                <hr>
            {% endfor %}
        </div>
    </span>
</div>
