{% load i18n %}

<div class="panel panel-default">
    {% include 'objects/course/registration.html' %}
    <div class="sidebar">
        <div class="panel-body">
            <div class="sidebar-header">
                <h3 class="course-name text-center">
                    <a href="{% url 'course_page' course.slug %}">{{ course.name }}</a>
                </h3>
                <hr>
                <div class="course-prof pull-right">
                    {% for juser in professors %}
                        <div class="text-right">
                            {% if forloop.counter == 1 %}
                                <span> {% blocktrans %}Professor{{ professors|pluralize }}{% endblocktrans %}:</span>
                            {% endif %}
                            {% include 'objects/user_link.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar-body">
                <div class="sidebar-tabs">
                    <nav class="nav-sidebar">
                        <ul class="nav tabs">
                            <li class="course_page_tab {% if not current_tab or current_tab == 'activity' %}active{% endif %}" data-page="activity" id='course-activity-tab'><a href=".course-activity" role="tab" data-toggle="tab">{% trans "Activity log" %}</a></li>
                            <li class="course_page_tab {% if current_tab == 'info' %}active{% endif %}" id='course-info-tab' data-page="info"><a href=".course-info" role="tab" data-toggle="tab">{% trans "Course Info" %}</a></li>
                            <li class="course_page_tab {% if current_tab == 'wiki' %}active{% endif %}" id='course-wikki-tab' data-page="wiki"><a href=".course-wiki" role="tab" data-toggle="tab">{% trans "Wiki" %}</a></li>
                            <li class="course_page_tab {% if current_tab == 'connect' %}active{% endif %}" id='course-forum-tab' data-page="connect"><a href=".course-forum" role="tab" data-toggle="tab">{% trans "Forum" %}</a></li>
                            <li class="course_page_tab {% if current_tab == 'resources' %}active{% endif %}" id='course-resources-tab' data-page="resources"><a href=".course-resources" role="tab" data-toggle="tab">{% trans "Resources and Assignments" %}</a></li>

                            {% if teacher.is_teacher %}
                                <li class="course_page_tab {% if current_tab == 'teacher' %}active{% endif %}" id='course-teacher-tab' data-page="teacher"><a href=".course-teacher" role="tab" data-toggle="tab">{% trans "Teacher" %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="course_sidebar_tabs">
    <center>
        <img src="{{STATIC_URL}}loading.gif" class="loading-course-tab" alt="Loading..."/> 
    </center>
    {% include 'objects/course/sidebar_tab_content.html' %}
</div>

