{% load humanize %}
{% load i18n %}
<div class='course-syllabus'>
	<ol class="list-group">
	{% for entry in syllabus %}
		<li class='list-group-item' >
			<a data-toggle="collapse" data-parent=".course-syllabus" href="#course-topic{{entry.topic.id}}">{{ entry.topic.name }}</a> 
			
			<div class="collapse course-topic" id="course-topic{{entry.topic.id}}">
				<hr/>
				<div >
					<div class='row'>
						<div class='col-md-5'>
							{% if entry.topic.description %}
									{{ entry.topic.description }}
							{% endif %}
						</div>
						
						<div class='col-md-4'>
								{% if entry.documents %}
									<div class='row'>
										{% for document in entry.documents %}
											<div class='col-md-12'>
												<a href="{% url 'view_document' course.slug document.id %}"> {{ document.name }} </a>
											</div>
										{% endfor %}
									</div>	
								{% endif %}
						</div>

						<div class='col-md-3'>
								{% if entry.documents %}
									<div class='row'>
										{% for document in entry.documents %}
											<div class='col-md-12'>
												<span class='text-muted'>{{ document.submit_time|date:'d.m.Y   H:i' }}</span>
											</div>
										{% endfor %}
									</div>	
								{% endif %}
						</div>

					</div>
				</div>

				

				{% comment %}
					{% if entry.homework %}
						{% with entry.homework as homework %}
							{% include 'objects/course/homework/dropdown.html' %}
						{% endwith %}
					{% endif %}
				{% endcomment %}
			</div>
		</li>
	{% endfor %}
	</ol>
</div>