{% load i18n %}
<nav class="navbar navbar-default forum-bar" role="navigation">
    <p class="navbar-text h4"> {% trans "Forum page of" %}
        <a class="navbar-brand-course" href="{% url 'course_page' course.slug %}">{{ course.name }}</a>
    </p>

    <p class="navbar-text">{% trans "Filter" %}: </p>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle current-post-filter" data-toggle="dropdown">
                <span class="post-filter-name">#{% if current_filter %}{{ current_filter }}{% else %}{% trans "all" %}{% endif %}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="post-filter {% if not current_filter %} hidden {% endif %}" href="#">#{% trans "all" %}</a></li>
                {% for tag in tags %}
                    <li><a class="post-filter {% if current_filter == tag %} hidden {% endif %} " href="#">#{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <a class="new-post-link" href="{% url 'forum_new_post' course.slug %}">
        <button type="button" class="btn btn-success navbar-btn navbar-right new-post-btn">{% trans "New Post" %}</button>
    </a>
</nav>