{% extends 'objects/forum/answer.html' %}

{% load i18n %}

{% block reply_form %}
    <small class="text-muted">
        <a class="discussion-link" href="{% url 'forum_discussion' answer.answer.id %}"> {% if not answer.children > 2 %} {% trans "Start Discussion" %} {% else %} {% trans "View Ongoing Discussion" %} ({{ answer.children }}) {% endif %} </a>
    </small> {% if not answer.downvoted %} &middot; {% endif %}
{% endblock reply_form %}

{% block child_answers %}
{% endblock child_answers %}
