<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default sidebar">
            <div class="sidebar-header">
                <h4> Forum Posts </h4>
            </div>
            <br>
            <br>
            {% include "objects/forum/posts.html" %}
            
        </div>
    </div>

    <div class="col-md-8">
        <div class="tab-content answers-tabs">
            {% for post in posts|dictsortreversed:"rating" %}
                {% if forloop.first %}
                    {% with answers_hidden=False %}
                        {% include "objects/forum/answers.html" %}
                    {% endwith %}
                {% else %}
                    {% with answers_hidden=True %}
                        {% include "objects/forum/answers.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
