{% load i18n %}

<form role="form" class="forumnewpost-form" method="post" action="{% url 'forum_new_post' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="posttitle-input">{% trans "Post title" %}</label>
                <input type="text" class="form-control" id="posttitle-input" placeholder='{% trans "Your question" %}' maxlength="250" name="title" required>
            </div>
            <div class="form-group">
                <label for="postdesc-input">{% trans "Additional description" %} {% trans "(optional)" %}</label>
                <textarea type="text" class="ckeditor form-control" id="postdesc-input" name="description" rows="4" maxlength="5000"></textarea>
            </div>
            {% if user_auth.question_posted.all.count < 2 %}
                {% include 'objects/reminders/posting.html' %}
            {% endif %}
        </div>
        <div class="col-md-6">

            {% if forum.forum_type == "1" %} {% comment %} General Forum {% endcomment %}
                {% include 'objects/forum/new_post_tags_general.html' %}
            {% elif forum.forum_type == "2" %} {% comment %} Course Forum {% endcomment %}
                {% include 'objects/forum/new_post_tags_course.html' %}
            {% endif %}
            
            <hr>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="anonymous"> {% trans "Anonymous" %}
                </label>
            </div>

            <input type="hidden" name="forum_pk" value="{{ forum.pk }}">

            <button type="submit" class="btn btn-default newpost-btn">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
