{% load i18n %}
<form role="form" class="forumnewpost-form" method="post" action="{% url 'forum_new_post' course.slug %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="posttitle-input">{% trans "Post title" %}</label>
                <input type="text" class="form-control" id="posttitle-input" placeholder='{% trans "Your question" %}' maxlength="250" name="title" required>
            </div>
            <div class="form-group">
                <label for="postdesc-input">{% trans "Additional description" %} {% trans "(optional)" %}</label>
                <textarea type="text" class="form-control" id="postdesc-input" name="description" rows="4" maxlength="5000"></textarea>
            </div>
            <div class="new-post-reminder">
                <span class="thank-msg"> Thank you for contributing to <strong>Connect</strong>! When submitting a new post keep in mind: </span>
                <ol>
                    <li> <i> Be specific </i>... (to be continued) </li>
                    <li>Be kind to your professor and fellow students</li>
                </ol>
            </div>
        </div>
        <div class="col-md-6">
            {% include 'objects/forum/new_post_tags.html' %}
            
            <hr>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="anonymous"> {% trans "Anonymous" %}
                </label>
            </div>

            <input type="hidden" name="forum_pk" value="{{ forum.pk }}">

            <button type="submit" class="btn btn-default newpost-btn">{% trans "Submit" %}</button>
        </div>
    </div>
</form>