{% extends 'pages/base.html' %}

{% block content %}
    <div class="row">
        <div id="left-container" class="panel panel-default col-md-3">
            <div class="text">
            </div>
            {% include 'objects/category_forms_left.html' %}
            {% include 'objects/course_forms_left.html' %}
            <div id="id-list"></div>        
        </div>

        <div id="center-container" class="col-md-6">
            <div id="infovis" class='panel panel-default' >
                <div id="log"></div>

            </div>    
        </div>

        <div id="right-container" class="panel panel-default col-md-3">
            {% include 'objects/category_forms_right.html' %}
            {% include 'objects/course_forms_right.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_css_includes %}
	<link type="text/css" href="{{ STATIC_URL }}css/Jit/base.css" rel="stylesheet" />
	<link type="text/css" href="{{ STATIC_URL }}css/Jit/Spacetree.css" rel="stylesheet" />
{% endblock %}

{% block extra_js_includes %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/Jit/jit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript">
    	var json = {{ category_tree|safe }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/admin_tree.js"></script>
{% endblock %}