<!DOCTYPE html>
<html>
  {% load compressed %}

  <head>
    {% block page_title %}
      <title>Connect</title>
    {% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}/ju_favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Courses at Jacobs University">
    <meta name="author" content="jTeam">

    {% compressed_css 'bootstrap' %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" >
    {% compressed_css 'connect_base' %}

    {% block extra_css_includes %}
    {% endblock %}
  </head>
  <body id="body_image">

    {% include 'objects/navbar.html' %}
      <div class="container" id="main_content_container">
        {% include 'objects/notifications/alerts.html' %}

        <div class="main-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    {% include 'objects/footer.html' %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/jquery.raty.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.lazyload.js" type="text/javascript"></script>
    {% compressed_js 'bootstrap' %}
    <script src="{{ STATIC_URL }}js/moment-with-langs.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <!-- Include jcourse Javascript -->
    {% compressed_js 'connect_base' %}

    {% if not DEBUG %}
      <script src="{{ STATIC_URL }}js/ga.js"></script>
    {% endif %}

    {% block extra_js_includes %}
    {% endblock %}
  </body>
</html>