{% extends 'pages/base.html' %}

{% block content %}
    <div class="row course-page">
        <div class="col-md-7">
            <div class="panel panel-default course-details">
                {% include 'objects/course/contents.html' %}
            </div>
        </div>

        <div class="col-md-5">
            <div class="course-sidebar">
                {% include "objects/course/my_ratings_panel.html" %}
                {% include "objects/course/reviews_panel.html" %}
            </div>
        </div>
    </div>
{% endblock %}