{% extends 'pages/base.html' %}

{% load compressed %}

{% block content %}
    <div class="row explore-page">
        <div class="col-md-3">
            {% include 'objects/explore/search_sidebar.html' %}
        </div>
        <div class="col-md-9">
            {% include 'objects/explore/courses_sequence.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js_includes %}
    <script type="text/javascript">
        var creditsValues = {{ credits|safe }};
    </script>
    {% compressed_js 'explore_page' %}
{% endblock %}