{% extends 'pages/base.html' %}

{% block content %}

<div class="welcome-page">
    <div class="row">
       <div class="col-md-8" id="home-container">
            <div class="home-image-container">
                <img class="home-image" src="{{ STATIC_URL }}images/second_image.png"/>
            </div>
        </div>
           
        <div class="col-md-4">
            <div class="register-sidebar">
                {% include 'objects/welcome/signup_form.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}