{% extends "pages/base.html" %}
{% load humanize %}
{% block content %}
  <form class="form-horizontal" method="POST" role="form" action='save_wiki_page'>

    {% csrf_token %}
      <div class="row">
        <div class="panel panel-default">
          <div class = "panel-heading">
            <h4><a href="{% url 'view_wiki_page' course.slug %}">Wiki page</a> of <a href="{% url 'course_page' course.slug %}"> {{course.name}} </a></h4>
            <button type="submit" class="btn btn-default save-wiki">Save</button>

          </div>


          <div class="panel-body">
          {% include 'objects/wiki/wiki_welcome.html' %}
            <div class="form-group">
                  <textarea class="form-control ckeditor"  name="content" rows="40">{{content|safe}}</textarea>
            </div>
          </div>
        </div>
      </div>
  </form>

{% endblock %}
