{% load i18n %}

<nav class="navbar navbar-inverse connect-navigation {% if page == "welcome" %} welcome-page-navbar {% endif %}" role="navigation">
  <div class="container navigation-container" id="navbar_container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-items">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      
    </div>

    <div class="collapse navbar-collapse navigation-items"  id="navbar-collapse-items">
      
        <ul class="nav navbar-nav navbar-tabs">
          {% if user_auth %}
              {% if user_auth.user_type == 2 %} {% comment %} user is ADMIN {% endcomment %}
                <li {% if page == 'course_categories' %} class="active" {% endif %}><a href="{% url 'course_categories' %}"> <b>{% trans "Admin" %}</b></a></li>
              {% endif %}
              <li {% if page == 'dashboard' %} class="active" {% endif %}><a href="{% url 'dashboard' %}"> <b>{% trans "Dashboard" %}</b></a></li>
              <li {% if page == 'explore' %} class="active" {% endif %}><a href="{% url 'explore' %}"><b>{% trans "Explore" %}</b></a></li>
              <li {% if page == 'view_schedule' %} class="active" {% endif %}><a href="{% url 'view_schedule' %}"> <b>{% trans "Schedule" %}</b></a></li>

              {% if page == 'all_comments' %} 
                <li class="active" ><a href="{% url 'all_comments' %}"> <b>{% trans "All comments" %}</b></a></li>
              {% endif %}
          {% else %}
              <li> <a href="#home" class="smoothScroll">{% trans "Home" %}</a></li>
              <li> <a href="#about" class="smoothScroll">{% trans "About" %}</a></li>
              <li> <a href="#team" class="smoothScroll"> {% trans "Team" %}</a></li>
              <li> <a href="#contact" class="smoothScroll">{% trans "Contact" %}</a></li>
          {% endif %}
        </ul>
      
          

      <a class="connect-brand navbar-brand" href="{% url 'explore' %}">
        <img class="logo" id="connect_logo" src="{{ STATIC_URL }}images/connect_logo-25x34.png"/>
      </a>
      {% include 'objects/navbar_login.html' %}
    </div>
  </div>
</nav>