{% load i18n %} {% spaceless %}

{% if page == "dashboard" %} {% trans "Dashboard" %} - 
{% elif page == "explore" %}{% trans "Explore" %} - 
{% elif page == "welcome" %}{% trans "Welcome" %} - 
{% elif page == "course" %}{{ course.name }} - 
{% elif page == "forum_course" %}{% trans "Forum" %} {{ course.name }} - 
{% elif page == "forum_new_post" %}{% trans "New post" %} {{ course.name }} - 
{% elif page == "profile" %}{{ user.first_name }} {{user.last_name }} - 
{% elif page == "manage_account" %}{% trans "Manage my account" %} - 
{% elif page == "view_schedule" %}{% trans "View Schedule" %} - 
{% elif page == "edit_wiki_page" %}{% trans "Edit wiki" %} {{ course.name }} - 
{% elif page == "view_wiki_page" %}{% trans "Wiki" %} {{ course.name }} - 
{% elif page == "course_categories" %}{% trans "Admin" %} - 
{% elif page == "set_email" %}{% trans "Set email" %} - 
{% elif page == "error_page" %}{% trans "Error!" %} - 
{% elif page == "about" %}{% trans "About" %} - 
{% elif page == "disclaimer" %}{% trans "Disclaimer" %} - 
{% elif page == "conduct_code" %}{% trans "Etiquette" %} - 
{% else %}
{% endif %}
Connect

{% endspaceless %}