<a href="{% spaceless %}
{% if tag.forum %}
    {% if tag.forum.forumcourse %}
        {% url 'course_page' tag.forum.forumcourse.course.slug  %}?page=connect&amp;filter={{ tag.name }}
    {% else %}
        {% url 'forum_general' %}?filter={{ tag.name }}
    {% endif %}
{% elif course %}
    {% url 'course_page' course.slug %}?page=connect&amp;filter={{ tag.name }}
{% elif forum %}
    {% if forum.forumcourse %}
        {% url 'course_page' forum.forumcourse.course.slug %}?page=connect&amp;filter={{ tag.name }}
    {% else %}
        {% url 'forum_general' %}?filter={{ tag.name }}
    {% endif %}
{% endif %}
{% endspaceless %}"> #{{ tag.name }} </a>