{% load humanize %}
{% load i18n %}

<div class="homework-content">
    <div class="h4"> 
        {% if hw.homework.document %}
        	<a href="{% url 'view_document' hw.homework.course.slug hw.homework.document.id %}">{{ hw.homework.name }}</a>
        {% else %}
        	{{ hw.homework.name }}
        {% endif %}
    </div>
    {% if hw.homework.description %}
        <p> {{ hw.homework.description }} </p>
    {% endif %}
    <div> {% trans "started on" %} <span class="text-danger"> {{ hw.homework.deadline.start }} </span> </div>
    <div> {% trans "due" %} <span class="text-danger"> {{ hw.homework.deadline.end }} </span> <span class="text-muted"> ({{ hw.homework.deadline.end|naturaltime }}) </span> </div>
</div>