{% load i18n %}
{% load connect_extras %}
{% load humanize %}

{% include "objects/course/homework_details.html" %}

<hr>

<div>
    <strong> {% trans "Percentage of homework submitted" %}: </strong>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{hw.percentage_completed}}" aria-valuemin="0" aria-valuemax="100" style="width: {{hw.percentage_completed}}%;">
        {{ hw.percentage_completed|floatformat:"1" }}%
    </div>
</div>

<hr>

{% if not hw.homework.is_published %}
    <form role="form" class="grader-form" method="post" action="{% url 'submit_homework_grades' course.slug %}" id="graderform{{hw.homework.id}}">

        {% comment %}
            Hidden inputs
        {% endcomment %}
        {% csrf_token %}
        <input type="hidden" name="hw_req_id" value="{{ hw.homework.id }}">
        <input type="hidden" name="save" value="True">
        <input type="hidden" name="publish" value="">


        {% comment %}
            Message for non ended
        {% endcomment %}
        {% if not hw.ended %}
            <h4> {% trans "You can view the homework submissions only after the deadline ends" %} </h4>
        {% endif %}

        {% comment %}
            Hw Dashboard actions
        {% endcomment %}
        {% if hw.ended %}
            {% include 'objects/course/homework/grader_table_actions.html' %}
        {% endif %}

        {% comment %}
            Table with all students
        {% endcomment %}
        {% include 'objects/course/homework/grader_table.html' %}

        {% comment %}
            Hw Dashboard actions again
        {% endcomment %}
        {% if hw.ended %}
            {% include 'objects/course/homework/grader_table_actions.html' %}
        {% endif %}

        {% comment %}
            Modal for publish info
        {% endcomment %}
        {% if hw.ended %}
            {% include "objects/course/homework/grader_table_actions_modal.html" %}
        {% endif %}

    </form>
{% else %}
    <h4> {% trans "The results are published to the students" %} </h4>
    {% include 'objects/course/homework/grader_table.html' %}
{% endif %}