{% load i18n %}
{% load connect_extras %}
{% load humanize %}

<table class="table table-bordered grades-table">
    <tr>
        <th> {% trans "Student" %} </th>
        <th> {% trans "Homework" %} </th>
        {% if hw.ended %}
            <th> {% trans "Grade" %} </th>
        {% else %}
        {% endif %}
    </tr>

    {% for sub in hw.all_submissions %}
        {% for nr in hw.homework.number_files|get_range %}
            <tr>
                {% comment %}
                    Student name for the next rows is shows only once, from the first row
                {% endcomment %}
                {% if forloop.first %}
                    <td rowspan="{{ hw.homework.number_files }}" class="hw-submitter"> {% with juser=sub.student %} {% include "objects/user_link.html" %} {% endwith %} </td>
                {% else %}
                {% endif %}

                {% comment %}
                    All submissions of a student
                {% endcomment %}
                {% with istr=forloop.counter|str  %} {% comment %} istr the current file number {% endcomment %}
                    {% if istr in sub.file_numbers %} {% comment %} if this document was submitted {% endcomment %}
                        {% for s in sub.submissions %} {% comment %} For each submission {% endcomment %}
                            {% if s.file_number|str == istr %} {% comment %} if this is the submitted document {% endcomment %}
                                {% if hw.ended %} {% comment %} if the homework deadline ended {% endcomment %}
                                    <td> <a href="{{ s.document.url }}"> {{ s.name }} </a> </td>
                                    <td>
                                        <fieldset class="form-inline">
                                            {% comment %} Input to give grade {% endcomment %}
                                            <input type="text" class="form-control grade-input" name="{{ sub.student.username }}-{{ s.file_number }}"
                                                value="{% if s.grade %}{{ s.grade.grade }}{% endif %}"> / 100
                                        </fieldset>
                                    </td>
                                {% else %} {% comment %} if the homework deadline did NOT end yet {% endcomment %}
                                    <td>
                                        <span class="text-success"> 
                                            {% if hw.homework.number_files == 1 %}
                                                {% trans "Homework submitted" %}
                                            {% else %}
                                                {% blocktrans %} Homework file {{istr}} submitted {% endblocktrans %}
                                            {% endif %}
                                        </span>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %} {% comment %} if this document was NOT submitted {% endcomment %}
                        <td>
                            <span class="text-danger">
                                {% if hw.homework.number_files == 1 %}
                                    {% trans "Homework not submitted" %}
                                {% else %}
                                    {% blocktrans %} Homework file {{ istr }} not submitted.  {% endblocktrans %}
                                {% endif %}
                            </span>
                        </td>
                        {% if hw.ended %} {% comment %} if the homework deadline ended {% endcomment %}
                            <td>
                                <fieldset class="form-inline">
                                    {% comment %} Disabled input to show 0/100 {% endcomment %}
                                    <input type="text" class="form-control grade-input" name="{{ sub.student.username }}-{{ s.file_number }}" value="0.0" disabled> / 100
                                </fieldset>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>