{% load i18n %}
{% load connect_extras %}

<div id="submitHomework{{hw.homework.id}}{{hw_modal_spec}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title" id="registrationModalLabel{{jcourse.id}}"><b>{% if hw.submitted %}{% trans "Resubmit homework" %}{% else %}{% trans "Submit homework" %}{% endif %}</b></h3>
            </div>

            <form class="form" action='/course/{{course.slug}}/submit_homework' method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-body">
                    {% if hw.submitted %}
                        <div class="text-muted">
                            {% trans "Resubmitting a homework file will overwrite previous submissions." %}
                        </div>
                    {% endif %}

                    <div class="homework_content">
                        <div class="h4 text-primary"> {{ hw.homework.name }} </div>
                        {% if hw.homework.description %}
                            <p class="text-muted"> {{ hw.homework.description }} </p>
                        {% endif %}
                        <div> {% trans "started on" %} <span class="text-danger"> {{ hw.homework.deadline.start }} </span> </div>
                        <div> {% trans "due" %} <span class="text-danger"> {{ hw.homework.deadline.end }} </span> </div>
                    </div>

                    <div class="form-group">
                        <label>{% trans "Upload your homework" %}:</label>

                        {% if hw.homework.number_files == 1 %}
                            {% with "True" as required %}
                            {% with "document1" as fname %}
                                {% include 'objects/file_input.html' %}
                            {% endwith %}
                            {% endwith %}
                            {% for prev in hw.previous_submissions %}
                                {% if prev.file_number|str == "1" %}
                                    <small class="text-success"> {% trans "You already submitted" %}
                                        <a target="_blank" href="{% url 'view_homework' course.slug prev.id %}">{% trans "this document" %}</a>
                                    </small>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <ol>
                            {% for index in hw.homework.number_files|get_range %}
                                {% with istr=forloop.counter|str  %}
                                    {% with fname="document"|add:istr %}
                                        <li> {% include 'objects/file_input.html' %}
                                        {% for prev in hw.previous_submissions %}
                                            {% if prev.file_number|str == istr %}
                                                <small class="text-success"> {% trans "You already submitted" %}
                                                    <a target="_blank" href="{% url 'view_homework' course.slug prev.id %}">{% trans "this document" %}</a>
                                                </small>
                                            {% endif %}
                                        {% endfor %}
                                        </li>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                            </ol>
                        {% endif %}
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button class="btn btn-danger" data-dismiss="modal">{% trans "No, cancel" %}</button>
                        <input class="btn btn-primary" type="submit" value="Yes, submit" />
                    </div>
                </div>

                <input type='hidden' name='course_id' value='{{course.id}}'/>
                <input type='hidden' name='homework_request_id' value='{{hw.homework.id}}' />
                <input type="hidden" name="url" value="{{hw_redirect_url}}">
            </form>

        </div>
    </div>
</div>

<button class="btn {% if not hw.submitted %} btn-danger {% else %} btn-primary {% endif %}"
data-toggle="modal" data-target="#submitHomework{{hw.homework.id}}{{hw_modal_spec}}"  id='submitHomeworkButton{{hw.homework.id}}{{hw_modal_spec}}'>{% if hw.submitted %}{% trans "Resubmit homework" %}{% else %}{% trans "Submit homework" %}{% endif %}</button>
