{% extends 'pages/base.html' %}

{% load i18n %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4> Set your email </h4>
                    <hr>
                    <form action="{% url 'set_email' %}" method="POST" id="alert_email_registration">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" class="form-control input-sm" placeholder='{% trans "University E-mail Address" %}' required />
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "Send Confirmation E-mail" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}