{% extends 'pages/base.html' %}
{% load humanize %}
{% load i18n %}

{% block content %}

<div class="schedule-page">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <a class="pull-right importExport" href="javascript:void(0)" id="importCalendar">Import iCal calendar</a>
      </div>
      <div class="col-md-6">
        <a class="importExport" href="{% url 'export_as_ical' %}"> Export as iCal calendar </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <div id="calendar"></div>
      </div>
    </div>
  </div>
    <div id="event_edit_container" hidden>
      <form method="post" id="appointmentForm">
        {%csrf_token%}
        <div class="form-group">
            <b>Date:</b><span class="date_holder"></span> 
        </div>

        <div class="form-group">
          <label>{% trans 'Start' %}</label>
            <div class='input-group date' id='start_dp' data-date-format="DD/MM/YYYY HH:mm">
              <input type='text' class="form-control" name="start" id="start" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" id="start_button"></span>
              </span>
            </div>
        </div>

        <div class="form-group">
          <label>{% trans 'End' %}</label>
            <div class='input-group date' id='end_dp' data-date-format="DD/MM/YYYY HH:mm">
              <input type='text' class="form-control" name="end" id="end"/>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" id="end_button"></span>
              </span>
            </div>
        </div>

        <input name="timezone_minutes" type="hidden"/>
        <input name="eventId" type="hidden"/>

        <div class="form-group">
            <label for="body">Description:</label><textarea class="form-control to-reset" name="body"></textarea>
        </div>

        <div class="form-group">
            <label for="title">Location:</label><input class="form-control to-reset" type="text" name="title"/>
        </div>

        {% if user.is_professor %}

          <div class="form-group" >
              <label for="type">Appointment Type:</label>
              <select class="form-control" name="type">
                <option value="0">Personal Appointment </option>
                <option value="1">Course Appointment </option>
              </select>
          </div>

          <div class="form-group" id="courseLabel">
            {% comment %}
              Dynamically show this is the professor chooses he/she wants to add a course appointment
            {% endcomment %}
            <label for="course_id"> Course:</label>
            <select class="form-control" name='course_id'>
                  <option value="">{% trans 'Select Course' %} </option>
                
                {% for course in courses %}
                  <option value="{{course.id}}"> {{course.name}} </option>
                {% endfor %}

            </select>
          </div>

          <div id='modulePH'>
          </div>
            
            
          

        {% else %}

        <input name="type" value="0" type="hidden" />
        
        {% endif %}

        <div class="form-group copy-label">
              <input  type="checkbox" name="copy" value="1"/> <b> Copy in the next <input class="tiny-text-input form-control to-reset" name="num_weeks" type="text" /> weeks.  </b>   
        </div>
      </form>

    </div>

    <!-- for the calendar import -->
    <div hidden id='importCalendarContainer'>
      <form id="importForm" action="{% url 'import_ical' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        This feature is a work-in-progress. Please contact us for any bugs that may occur.
        A valid iCalendar should adhere to the <i> iCalendar 2.0 Strict </i> ruleset. <br/>
        <fieldset class="form-inline">
          <div class="form-group upload-file-wrapper">
            <input class="form-control upload-file-input" placeholder="{% trans "no file chosen" %}" disabled="disabled"/>
            <div class="btn btn-primary upload-file">
              <span>{% trans "Browse" %}</span>
              <input id='calFile'  type="file" name='calFile' class="file-input"/>
            </div>
          </div>
        </fieldset>
      </form>
      
      <div id="returnVal">
      </div>
    </div>

      {% for course in courses %}
        <div class="form-group courseModuleBox" id="courseModule{{course.id}}">
          {% if course.modules.all %}
              <label id="courseModuleLabel" for="module_id"> Course Modules:</label>
              <select class="form-control" name='module_id'>
                  <option value="">{% trans 'All Modules' %} </option>
              
                  {% for module in course.modules.all%}
                      <option value="{{module.id}}"> {{module.name}} </option>
                  {% endfor %}
              </select>
          {% endif%}
        </div>
      {% endfor %}
  
  </div>
</div>







{% endblock %}


{% block extra_js_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}schedule/libs/date.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}schedule/jquery.weekcalendar.js'></script>

<script type='text/javascript'>
  year = new Date().getFullYear();
  month = new Date().getMonth();
  day = new Date().getDate();
  
  eventData = {
    events : {{appointments|safe}}
  };

  $("#appointmentForm").ready(function(){

      $("#start_dp").datetimepicker({
        pick12HourFormat : false,
      });

      $("#end_dp").datetimepicker({
        pick12HourFormat : false,
      });

      $("#start_button, #start").click(function(){
        $("#start_dp").data("DateTimePicker").show();
      });

      $("#end_button, #end").click(function(){
        $("#end_dp").data("DateTimePicker").show();
      });

      var tz = $(this).find('input[name="timezone_minutes"]');
      tz.val( moment().zone() );
  

  });  
</script>
<script type='text/javascript' src='{{ STATIC_URL }}schedule/schedule.js'></script>
{% endblock %}


{% block extra_css_includes %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />


<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}schedule/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}schedule/jquery.weekcalendar.css' /> 
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}schedule/skins/gcalendar.css' /> 

{% endblock %}