{% extends 'pages/base.html' %}
{% load humanize %}

{% block extra_js_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery_schedule/libs/date.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}jquery_schedule/jquery.weekcalendar.js'></script>

<script type='text/javascript'>
  var year = new Date().getFullYear();
  var month = new Date().getMonth();
  var day = new Date().getDate();

  var eventData = {
    events : {{appointments|safe}}
  };

  $(document).ready(function() {
    var $calendar = $('#calendar');
    $('#calendar').weekCalendar({
      data: eventData,

      timeslotsPerHour: 4,
      allowCalEventOverlap: true,
      overlapEventsSeparate: true,
      totalEventsWidthPercentInOneColumn : 95,

      height: function($calendar) {
        return $(window).height() - $('h1').outerHeight(true);
      },

      eventRender: function(calEvent, $event) {
        if (calEvent.end.getTime() < new Date().getTime()) {
          $event.css('backgroundColor', '#aaa');
          $event.find('.time').css({
            backgroundColor: '#999',
            border:'1px solid #888'
          });
        }
      },
      
      eventNew: function(calEvent, $event) {
        var $dialogContent = $("#event_edit_container");
        prepareFields($dialogContent);
        var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
        var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
        var titleField = $dialogContent.find("input[name='title']");
        var bodyField = $dialogContent.find("textarea[name='body']");
        
        $dialogContent.dialog({
            modal: true,
            title: "New Appointment",
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').weekCalendar("removeUnsavedEvents");
            },
            buttons: {
               save : function() {
                  calEvent.id = id;
                  id++;
                  calEvent.start = new Date(startField.val());
                  calEvent.end = new Date(endField.val());
                  calEvent.title = titleField.val();
                  calEvent.body = bodyField.val();
                  
                  $calendar.weekCalendar("removeUnsavedEvents");
                  $calendar.weekCalendar("updateEvent", calEvent);
                  $dialogContent.dialog("close");
               },
               cancel : function() {
                  $dialogContent.dialog("");
               }
            }
         }).show();

        var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
        var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
        $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
        setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));
        $(window).resize().resize();
      },

      eventDrop: function(calEvent, $event) {
        displayMessage('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
      },

      eventResize: function(calEvent, $event) {
        displayMessage('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
      },

      eventClick: function(calEvent, $event) {
        displayMessage('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
      },

      eventMouseover: function(calEvent, $event) {
        displayMessage('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
      },

      eventMouseout: function(calEvent, $event) {
        displayMessage('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
      },

      noEvents: function() {
        displayMessage('There are no events for this week. YAY!');
      }

    });

    function displayMessage(message) {
      $('#message').html(message).fadeIn();
    }

    function prepareFields($dialogContent) {
      $dialogContent.find("input").val("");
      $dialogContent.find("textarea").val("");
   }

    function setupStartAndEndTimeFields($startTimeField, $endTimeField, calEvent, timeslotTimes) {
      for (var i = 0; i < timeslotTimes.length; i++) {
        var startTime = timeslotTimes[i].start;
        var endTime = timeslotTimes[i].end;
        var startSelected = "";
        if (startTime.getTime() === calEvent.start.getTime()) {
          startSelected = "selected=\"selected\"";
        }
        var endSelected = "";
        if (endTime.getTime() === calEvent.end.getTime()) {
          endSelected = "selected=\"selected\"";
        }
        $startTimeField.append("<option value=\"" + startTime + "\" " + startSelected + ">" + timeslotTimes[i].startFormatted + "</option>");
        $endTimeField.append("<option value=\"" + endTime + "\" " + endSelected + ">" + timeslotTimes[i].endFormatted + "</option>");

      }
      
      $endTimeOptions = $endTimeField.find("option");
      $startTimeField.trigger("change");
   }

   var $endTimeField = $("select[name='end']");
   var $endTimeOptions = $endTimeField.find("option");

   //reduces the end time options to be only after the start time options.
   $("select[name='start']").change(function() {
      var startTime = $(this).find(":selected").val();
      var currentEndTime = $endTimeField.find("option:selected").val();
      $endTimeField.html(
            $endTimeOptions.filter(function() {
               return startTime < $(this).val();
            })
            );

      var endTimeSelected = false;
      $endTimeField.find("option").each(function() {
         if ($(this).val() === currentEndTime) {
            $(this).attr("selected", "selected");
            endTimeSelected = true;
            return false;
         }
      });

      if (!endTimeSelected) {
         //automatically select an end date 2 slots away.
         $endTimeField.find("option:eq(1)").attr("selected", "selected");
      }

   });



  });
</script>
{% endblock %}


{% block content %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}jquery_schedule/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}jquery_schedule/jquery.weekcalendar.css' /> 
  <p class="description">
    NOTES: <br/>
    This calendar demonstrates a basic calendar. Events triggered are
    displayed in the message area. Appointments in the past are shaded grey.
    <br/>
    This calendar demonstrates overlapped events with little space on right to
    create new events  (new option <i>"totalEventsWidthPercentInOneColumn"</i>)
  </p>

  <div id="calendar"></div>

  <div id="event_edit_container" hidden>
    <form>
      <ul>
        <li>
          <span>Date: </span><span class="date_holder"></span> 
        </li>
        <li>
          <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
        </li>
        <li>
          <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
        </li>
        <li>
          <label for="title">Title: </label><input type="text" name="title" />
        </li>
        <li>
          <label for="body">Body: </label><textarea name="body"></textarea>
        </li>
      </ul>
    </form>
  </div>
{% endblock %}