<p>&nbsp;</p>

<h1>{{course.name}}</h1>

<p>
	{% if course.image %}
		<img alt="Course image" height="200" src="{% url 'course_image' course.slug %}" style="float:right" width="200" />
	{% else %}
		<img alt="Course image" height="200" src="{{ STATIC_URL }}books.jpg" style="float:right" width="200" />
	{% endif %}
</p>

<p>{{course.description}}</p>

<ol>
	<li><a href="#Chapter1">Chapter 1</a></li>
	<li><a href="#Chapter2">Chapter 2</a></li>
	<li><a href="#Chapter3">Chapter 3</a></li>
	<li><a href="#Chapter4">Chapter 4</a></li>
	<li><a href="#Chapter5">Chapter 5</a></li>
	<li><a href="#ref">References</a></li>
</ol>

<h2><a id="Chapter1" name="Chapter1"></a>Chapter 1</h2>

<table align="right" border="1" cellpadding="5" cellspacing="5" style="width:400px">
	<tbody>
		<tr>
			<td>Course Name</td>
			<td><a href="/course/{{course.slug}}/">{{course.name}}</a></td>
		</tr>
		<tr>
			<td>University</td>
			<td>{{course.university.name}}</td>
		</tr>
		<tr>
			<td>Professors</td>
			<td> 
			{% for prof in professors %}
				<a href="/profile/{{prof.username}}">
					{{prof.first_name}} {{prof.last_name}}
				</a>,&nbsp;
			{% endfor %}
			</td>
		</tr>
		<tr>
			<td>Teaching Assistants</td>
			<td>TAs</td>
		</tr>
		<tr>
			<td>Student Registrations</td>
			<td>Regfistered: {{registered_students}}, Pending: {{pending_students}}</td>
		</tr>
	</tbody>
</table>

<p>The content of chapter 1 goes here.&nbsp;</p>

<h2><a id="Chapter2" name="Chapter2"></a>Chapter 2</h2>

<p>The content of chapter 2 goes here</p>

<h2><a id="Chapter3" name="Chapter3"></a>Chapter 3</h2>

<p>The content of chapter 3 goes here</p>

<h2><a id="Chapter4" name="Chapter4"></a>Chapter 4</h2>

<p>The content of chapter 4 goes here</p>

<h2><a id="Chapter5" name="Chapter5"></a>Chapter 5</h2>

<p>The content of chapter 5 goes here</p>

<h2><a id="ref" name="ref"></a>References</h2>

<p>The References go here</p>

<p>&nbsp;</p>

