<div class="tab-pane text-style panel panel-default col-sm-8" id="tab{{course.course.id}}">

    <h2 class='panel-heading'><a href='course/{{course.course.slug}}'> {{course.course.name}} </a> </h2>
         <p>
            {% if course.is_approved %}
              {% include 'objects/approve_registrations_form.html' %}
            {% else %}
              <h3> You cannot approve students' registrations until you are confirmed as a professor of this course  </h3>
            {% endif %}   
         </p>

  </div>