<div class="panel panel-default course-management-section">
    <div class='panel-heading'>
        <a href='course/{{course.course.slug}}'> <p class="h2"> {{course.course.name}} </p> </a>
    </div>

    <div class="panel-body">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#pending{{course.course.id}}" data-toggle="tab">Pending Registrations</a>
            </li>
            <li>
                <a href="#registered{{course.course.id}}" data-toggle="tab">Registered Students</a>
            </li>
            <li>
                <a href="#documents{{course.course.id}}" data-toggle="tab">Upload Documents</a>
            </li>
            <li>
                <a href="#homework{{course.course.id}}" data-toggle="tab">Homework</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div class="tab-pane active" id="pending{{course.course.id}}">
                {% if course.is_approved %}
                    {% include 'objects/pending_registrations_form.html' %}
                {% else %}
                    <p class="h3"> You cannot approve students' registrations until you are confirmed as a professor of this course </p>
                {% endif %}  
            </div>

            <div class="tab-pane" id="registered{{course.course.id}}">
                {% if course.is_approved %}
                    {% include 'objects/registered_students_form.html' %}
                {% else %}
                    <p class="h3"> You cannot see registered students until you are confirmed as a professor of this course </p>
                {% endif %}
            </div>

            <div class="tab-pane" id="documents{{course.course.id}}"> 
                {% if course.is_approved %}
                    <div class="row">
                        <div class="col-md-6">
                            Documents Uploaded
                            {% with course.documents as documents %}
                                {% include 'objects/course_documents.html' %}
                            {% endwith %}
                        </div>

                        <div class="col-md-6">
                            Upload Documents
                            {% with course.course as course %}
                                {% include 'objects/course_upload_document.html' %}
                            {% endwith %}
                        </div>
                    </div>
                {% else %}
                    <p class="h3"> You cannot upload documents until you are confirmed as a professor of this course </p>
                {% endif %}
            </div>

            <div class="tab-pane" id="homework{{course.course.id}}">
                {% if course.is_approved %}
                    <div class="row">
                        <div class="col-md-6">
                            Homework
                            {% with course.homework as homework %}
                                {% include 'objects/course_homwork.html' %}
                            {% endwith %}
                        </div>

                        <div class="col-md-6">
                            Ask for homework
                            {% with course.course as course %}
                                {% include 'objects/course_demand_homework.html' %}
                            {% endwith %}
                        </div>
                    </div>
                {% else %}
                    <p class="h3"> You ask for homework until you are confirmed as a professor of this course </p>
                {% endif %}
            </div>

        </div>
    </div>
</div>

  