<div class="col-md-12 course-block-wrapper">
<div class="panel panel-default panel-course
{% if course.major %} major-{{ course.major }} {% endif %}
{% if course.school %} school-{{ course.school }} {% endif %}
{% if course.studies %} studies-{{ course.studies }} {% endif %}
{% if course.term %} term-{{ course.term }} {% endif %}">

    <div class="panel-heading">
        <span class="badge course-credits"> {{ course.course.credits }} </span>
        {% if course.overall_rating %}
            <span class="badge course-rating"> <span class="glyphicon glyphicon-star yellow-star"></span> {{ course.overall_rating|floatformat:1 }} </span>
        {% endif %}

        <div class="course-name">
            <a class="course-block-course-url" href="/course/{{ course.course.slug }}" slug="{{course.course.slug}}">{{ course.course.name }}</a>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                {% if course.course.image %}
                    <img class="img-thumbnail course-image" data-original="{% url 'course_image' course.course.slug %}" alt="{{course.course.name}} image">
                {% else %}
                    <img class="img-thumbnail course-image" src="{{ STATIC_URL }}books.jpg" alt="{{course.course.name}} image">
                {% endif %}

            </div>

            <div class="col-md-10 course-details">

                <div class="course-professors">
                    <strong> Professors: </strong> 
                    {% for juser in course.professors|slice:":3" %}
                        {% include 'objects/user_link.html' %};
                    {% endfor %}
                    {% if course.professors|length > 3 %}
                        ...
                    {% endif %}
                </div>


                <strong> Description: </strong> {{ course.course.description|slice:":180" }} 
                ...
                <a class="course-block-course-url" href="/course/{{ course.course.slug }}" slug="{{course.course.slug}}">(more)</a>

                <p class="course-catalog text-muted">
                    {{ course.course_path }}
                </p>
                {% if course.registration_open %}
                    {% include 'objects/confirm_registration.html' %}
                {% endif%}
            </div>
        </div>
    </div>
</div>
</div>