{% if not user_auth %}

    <form class="navbar-form navbar-right login-form" method="post" action="/login">
        {% csrf_token %}

        <span id="campusnet-popover" class="glyphicon glyphicon-info-sign" 
        data-container="body" data-toggle="popover" data-placement="bottom"></span>

        <div class="form-group">
          <input type="text" class="form-control login-input" placeholder="Username or Email" name="username" id='login_id'required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control login-input" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>

{% else %}

  <ul class="nav navbar-nav navbar-right" id="navBar">
        <div class="dropdown" id="dName">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                {% if user_auth.first_name %}
                {{ user_auth.first_name }}
                {% else %}
                {{ user_auth.username }}
                {% endif %} 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="#">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile/{{user_auth.username}}">My profile </a></li> 
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Hover me for more options</a> <!-- (ssh) keeping those here for more functionality to be added -->
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu">
                            <a href="#">Even More..</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">3rd level</a></li>
                                <li><a href="#">3rd level</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Second level</a></li>
                        <li><a href="#">Second level</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </ul>

{% endif %}