<div class="row">
  <div class="col-md-3">
    <nav class="nav-sidebar">
      <ul class="nav tabs">
        {% for course in courses %}
          <li {% if forloop.counter == 1 %} class="active" {% endif %}>
            <a href="#tab{{course.course.id}}" data-toggle="tab">{{course.course.name}}
              {% if not course.is_approved %} <br/> <small class='text-danger'> Pending Confirmation </small> {% endif %}
            </a> 
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <!-- tab content -->
  <div class="col-md-9">
    <div class="tab-content">
      {% for course in courses %}
        <div class="tab-pane {% if forloop.counter == 1 %} active {% endif %}" id="tab{{course.course.id}}">
          {% include 'objects/course_management_section.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
        
</div>