<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="container" id="navbar_container">
    <div>
      <a href="/home" ><img id="navbar_logo" src="{{ STATIC_URL }}images/connect.logo.png"/></a>
    </div>
    <div>
      <a class="navbar-brand" id="navbar-brand" href="/home"><b>Connect</b></a>
    </div>
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      {% if user_auth %}
        <ul class="nav navbar-nav">
          <li {% if page == 'home' %} class="active" {% endif %}><a href="/home"><b>All courses</b></a></li>
          <li {% if page == 'all_comments' %} class="active" {% endif %}><a href="/all_comments"> <b>All comments</b></a></li>
        </ul>
      {% endif %}

      {% include 'objects/navbar_login.html' %}
    </div>
  </div>
</nav>