{% if not user_auth %}

    <form class="navbar-form navbar-right login-form" method="post" action="/login">
        {% csrf_token %}

        <span id="campusnet-popover" class="glyphicon glyphicon-info-sign"
        data-container="body" data-toggle="popover" data-placement="bottom"></span>

        <div class="form-group" id="username_login">
          <input type="text" class="form-control login-input" placeholder="Username or Email" name="user_auth" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control login-input" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-default"  id="login_button"  height="27px"><b> Login </b></button>
    </form>

{% else %}
  <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-group navbar-btn">
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle ">
                    {% if user_auth.first_name %}
                        {{ user_auth.first_name }}
                    {% else %}
                        {{ user_auth.username }}
                    {% endif %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'profile' user_auth.username %}">My profile </a></li>
                    <li><a href="{% url 'manage_account' %}">Manage Account</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>

{% endif %}