.panel-default .panel-heading {
  background-color: #E3E3E3;
  border-bottom: 1px solid #4099FF; }
  .panel-default .panel-heading a {
    color: #151621; }

.btn-primary {
  background-color: #4099FF; }
  .btn-primary:hover {
    background-color: #1783ff; }

.connect-navigation {
  border-bottom: 1px solid white;
  background-color: #151621; }
  .connect-navigation .connect-brand .logo {
    float: left;
    margin-top: -7px; }
  .connect-navigation .connect-brand .brand-name {
    padding-left: 7.5px;
    color: #4099FF; }
  .connect-navigation .login-form {
    padding-top: 4px; }
    .connect-navigation .login-form .login-input {
      max-width: 150px;
      max-height: 27px;
      margin-left: 8px;
      padding-top: 3px;
      padding-bottom: 3px; }
    .connect-navigation .login-form #campusnet-popover {
      color: #29ABE2; }
  .connect-navigation .navbar-tabs {
    width: 48%; }
    .connect-navigation .navbar-tabs li a {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
      color: white;
      width: 100px;
      text-align: center; }
      .connect-navigation .navbar-tabs li a:hover {
        font-weight: bold; 
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
      }
      
    .connect-navigation .navbar-tabs li.active a {
      font-weight: bold; 
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 17px;
    }

.sidebar {
  background-color: #151621;
  color: white; }
  .sidebar a {
    color: white; }
  .sidebar .side*bar-header {
    color: #E3E3E3;
    text-align: center; }
  .sidebar .sidebar-tabs {
    margin: 0px -15px; }
  .sidebar .nav-sidebar {
    background-color: #151621; }
    .sidebar .nav-sidebar li {
      background-color: transparent; }
      .sidebar .nav-sidebar li > a {
        color: white;
        white-space: nowrap;
        overflow: hidden; }
        .sidebar .nav-sidebar li > a:hover, .sidebar .nav-sidebar li > a:focus {
          background-color: rgba(227, 227, 227, 0.5);
          background-opacity: 50%; }
      .sidebar .nav-sidebar li.active a {
        cursor: default;
        background-color: #4099FF;
        color: #fff; }
      .sidebar .nav-sidebar li.active a:hover,
      .sidebar .nav-sidebar li.active a:focus {
        background-color: #1783ff; }

.explore-page .search-sidebar #credits-slider .ui-slider-range,
.explore-page .search-sidebar #ratings-slider .ui-slider-range {
  background: #4099FF; }
.explore-page .search-sidebar #credits-slider .ui-slider-handle,
.explore-page .search-sidebar #ratings-slider .ui-slider-handle {
  border: #0065d9; }
.explore-page .search-sidebar #search_courses {
  background-color: rgba(227, 227, 227, 0.2);
  border: none;
  color: white; }
.explore-page .search-sidebar .credits-slider-values,
.explore-page .search-sidebar .ratings-slider-values {
  margin-top: 15px; }
.explore-page .courses-sequence .course-panel .block-header .course-name {
  font-size: 18px; }
.explore-page .courses-sequence .course-panel .block-header .course-rating {
  background-color: #33424D; }
  .explore-page .courses-sequence .course-panel .block-header .course-rating .yellow-star {
    color: #EEDA74; }
.explore-page .courses-sequence .course-panel .block-header .course-credits {
  background-color: #4099FF;
  margin-left: 10px;
  width: 46px;
  height: 20px; }
.explore-page .courses-sequence .course-panel .block-details .course-image {
  max-height: 100px;
  max-width: 100px; }
.explore-page .courses-sequence .course-panel .block-details .course-catalog {
  margin-top: 8px; }

.course-page .course-sidebar .registration-btn {
  width: 100%; }
.course-page .course-sidebar .sidebar-header hr {
  margin: 4px -15px; }
.course-page .course-sidebar .sidebar-body {
  margin-top: 120px;
  margin-bottom: 20px; }
.course-page .course-info .info-header .course-image {
  max-height: 150px;
  max-width: 150px; }
.course-page .course-info .info-header .course-name h3 {
  margin: 4px; }
  .course-page .course-info .info-header .course-name h3 a {
    color: #151621; }
.course-page .course-info .info-header .course-rating .rating-badge {
  margin-bottom: 4px;
  background-color: #33424D; }
  .course-page .course-info .info-header .course-rating .rating-badge .yellow-star {
    color: #EEDA74; }
.course-page .course-info .info-header .course-rating .rating-nrs {
  font-size: 10px; }
.course-page .course-info .info-bar hr {
  margin: 8px 0px; }
.course-page .course-info .info-bar .course-credits {
  background-color: #4099FF; }
.course-page .course-info .info-body {
  margin-top: 20px; }
  .course-page .course-info .info-body .review-submit {
    resize: vertical; }
  .course-page .course-info .info-body .reviews-display hr {
    margin-bottom: 12px; }
.course-page .course-wiki .wiki-explanation {
  margin-top: 20px; }
.course-page .course-resources h3 {
  margin: 0px; 
  font-family: 'Source Sans Pro Light',sans-serif;
  font-size: 20px;
}
.course-page .course-resources .top-line {
  margin-top: 4px; }
.course-page .course-resources .homework-list .hw-submit {
  margin-top: 24px; }
.course-page .course-teacher .pending-registrations h3,
.course-page .course-teacher .registered-students h3,
.course-page .course-teacher .course-documents h3,
.course-page .course-teacher .course-homework h3,
.course-page .course-teacher .class-forum h3,
.course-page .course-teacher .course-details h3 {
  font-family: 'Source Sans Pro Light',sans-serif;
  font-size: 17px;
}
.course-page .course-teacher .pending-registrations .top-line,
.course-page .course-teacher .registered-students .top-line,
.course-page .course-teacher .course-documents .top-line,
.course-page .course-teacher .course-homework .top-line,
.course-page .course-teacher .class-forum .top-line,
.course-page .course-teacher .course-details .top-line {
  margin-top: 4px; }
.course-page .course-teacher .registered-students .email-details {
  padding-top: 30px; }
.course-page .course-teacher .class-forum .extratag-input {
  max-width: 130px; }
.course-page .course-teacher .course-details .modify-syllabus .delete-syllabus-entry-form {
  margin-left: 12px; }
.course-page .course-teacher .course-details .modify-syllabus li {
  margin-top: 16px; }

.course-info .info-body .reviews-display .review-block .review .review-text,
.activity-timeline .review-activity .review-block .review .review-text {
  margin-top: 6px; }
.course-info .info-body .reviews-display .review-block .review .review-flag,
.activity-timeline .review-activity .review-block .review .review-flag {
  overflow: hidden; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-content,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-content {
    float: right; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-review-form,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-review-form {
    display: inline; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-btn:hover .glyphicon-flag, .course-info .info-body .reviews-display .review-block .review .review-flag .flag-btn:focus .glyphicon-flag,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-btn:hover .glyphicon-flag,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-btn:focus .glyphicon-flag {
    color: #d9534f; }

.register-panel .register-heading {
  background-color: #282828;
  color: white;
  text-align: center; }
.register-panel .validation-ok {
  color: #5cb85c;
  font-size: 11px;
  font-weight: bold; }
.register-panel .validation-error {
  color: #d9534f;
  font-size: 11px;
  font-weight: bold; }

.welcome-page-navbar {
  margin-bottom: 0px; }

.forum-page .forum-bar,
.course-forum .forum-bar {
  background-color: #151621;
  color: #E3E3E3; }
  .forum-page .forum-bar .new-post-btn,
  .course-forum .forum-bar .new-post-btn {
    margin-right: 8px; }
  .forum-page .forum-bar a,
  .course-forum .forum-bar a {
    color: white; }
  .forum-page .forum-bar ul .dropdown:hover a,
  .course-forum .forum-bar ul .dropdown:hover a {
    color: #4099FF; }
  .forum-page .forum-bar ul .dropdown.open > a,
  .course-forum .forum-bar ul .dropdown.open > a {
    background-color: #151621;
    color: #4099FF; }
  .forum-page .forum-bar ul .dropdown.open .dropdown-menu,
  .course-forum .forum-bar ul .dropdown.open .dropdown-menu {
    background-color: #151621; }
    .forum-page .forum-bar ul .dropdown.open .dropdown-menu li > a,
    .course-forum .forum-bar ul .dropdown.open .dropdown-menu li > a {
      color: #E3E3E3; }
    .forum-page .forum-bar ul .dropdown.open .dropdown-menu li :hover,
    .course-forum .forum-bar ul .dropdown.open .dropdown-menu li :hover {
      color: #4099FF;
      background-color: #151621; }
  .forum-page .forum-bar ul .dropdown a,
  .course-forum .forum-bar ul .dropdown a {
    color: #E3E3E3; }
  .forum-page .forum-bar .dropdown-menu li > a,
  .course-forum .forum-bar .dropdown-menu li > a {
    color: #151621; }
  .forum-page .forum-bar p,
  .course-forum .forum-bar p {
    color: #E3E3E3; }
.forum-page .answers-tabs .post-name,
.course-forum .answers-tabs .post-name {
  margin-top: 8px; }
.forum-page .answers-tabs .upvote-post-form,
.course-forum .answers-tabs .upvote-post-form {
  display: inline; }
.forum-page .answers-tabs .answer-box,
.course-forum .answers-tabs .answer-box {
  margin: 8px 4px;
  background-color: #eeeeee; }
  .forum-page .answers-tabs .answer-box.focus-answer,
  .course-forum .answers-tabs .answer-box.focus-answer {
    background-color: white; }
  .forum-page .answers-tabs .answer-box .answer-header .upvote-answer-form,
  .course-forum .answers-tabs .answer-box .answer-header .upvote-answer-form {
    display: inline; }
  .forum-page .answers-tabs .answer-box .answer-body p,
  .course-forum .answers-tabs .answer-box .answer-body p {
    margin-bottom: 0px; }
  .forum-page .answers-tabs .answer-box .answer-box-contents,
  .course-forum .answers-tabs .answer-box .answer-box-contents {
    padding: 4px 8px; }
  .forum-page .answers-tabs .answer-box .child-answers .answer-box,
  .course-forum .answers-tabs .answer-box .child-answers .answer-box {
    background-color: white; }
    .forum-page .answers-tabs .answer-box .child-answers .answer-box.focus-answer,
    .course-forum .answers-tabs .answer-box .child-answers .answer-box.focus-answer {
      background-color: white; }
.forum-page .answers-tabs .best-answers .answer-box .answer-footer .reply-form,
.course-forum .answers-tabs .best-answers .answer-box .answer-footer .reply-form {
  display: none; }
.forum-page .sidebar-name,
.course-forum .sidebar-name {
  margin-top: 0px; }

.forum-new-post-page .new-post-tags {
  margin-top: 16px; }

.new-post-reminder {
  background-color: #eeeeee;
  padding: 12px 8px; }
  .new-post-reminder .thank-msg {
    margin-top: 8px; }
  .new-post-reminder ol > li {
    margin-top: 4px; }

.dashboard-page .sidebar-schedule {
  max-height: 200px;
  overflow: auto; }
.dashboard-page .sidebar-schedule-table {
  margin-left: 20px; }
.dashboard-page .description-col {
  padding-left: 10px; }
.dashboard-page .sidebar-courses-table {
  margin-left: 20px;
  width: 90%; }
  .dashboard-page .sidebar-courses-table tr > td {
    border-bottom: 2px solid #151621;
    padding-bottom: 5px;
    padding-top: 5px; }
  .dashboard-page .sidebar-courses-table .course_name {
    width: 90%; }
  .dashboard-page .sidebar-courses-table .homework_number {
    background-color: #4099FF;
    width: 10%;
    text-align: center;
    color: white; }
.dashboard-page .sidebar-forum-posts {
  margin-left: 20px;
  width: 90%; }
  .dashboard-page .sidebar-forum-posts tr {
    margin-bottom: 2px; }
  .dashboard-page .sidebar-forum-posts .post_name {
    width: 90%; }
  .dashboard-page .sidebar-forum-posts .likes_number {
    background-color: #4099FF;
    width: 10%;
    text-align: center;
    color: white; }

.profile-page .summary-textarea {
  width: 100%; }
.profile-page .profile-picture {
  width: 200px; }
.profile-page .profile-picture-input {
  width: 200px; }
.profile-page .profile-picture-submit {
  width: 200px; }

.manage-account-page h4 {
  margin-top: 2px;
  margin-bottom: 6px; 
  font-family: 'Source Sans Pro Light',sans-serif;
  font-size: 17px;
}
.manage-account-page hr {
  margin-top: 4px; }

.activity-timeline .activity .end-of-activity {
  margin-bottom: 2px; }
.activity-timeline .forum-answer-activity .answer-text {
  margin-top: 16px; }
.activity-timeline .homework-activity .homework-body {
  margin-top: 8px; }
.activity-timeline .document-activity .document-body {
  margin-top: 16px; }
.activity-timeline .review-activity .review-body {
  margin-top: 16px; }

/*# sourceMappingURL=connect.css.map */
