// Bootstrap variables and mixins
@import "../../bootstrap/stylesheets/bootstrap/variables";
@import "../../bootstrap/stylesheets/bootstrap/mixins";

// Global variables 
$connect-dark-blue:     #151621;
$connect-light-blue:    $brand-primary;
$connect-gray:          #E3E3E3;

$heading-font-family: 'Source Sans Pro', sans-serif;
$h3-size: 17px ;
$h4-size: 16px ;

h3{
    font-family: $heading-font-family;
    font-size: $h3-size;
}


h4{
    font-family: $heading-font-family;
    font-size: $h4-size;
}

.panel-default {
    .panel-heading {
        background-color: $connect-gray;
        border-bottom: 1px solid $connect-light-blue;
        a {
            color: $connect-dark-blue;
        }
    }
}
.btn-primary {
    background-color: $connect-light-blue;
    &:hover {
        background-color: darken($connect-light-blue,8%); 
    } 
}


// Navigation bar
$campusnet-popover-info-color:      #29ABE2;
$login-input-padding:           3px;
$navbar-clickable-links:    'Source Sans Pro', sans-serif;
$navbar-font-size:      15px;
.connect-navigation {
    border-bottom: 1px solid white;
    background-color: $connect-dark-blue;
    .connect-brand {
    
        .logo {
            float: left;
            margin-top: 8px - $navbar-padding-vertical;
        }
        .brand-name {
            padding-left: $navbar-padding-horizontal / 2;
            color: $connect-light-blue;
        }
    }

    .login-form {
        padding-top: 4px;

        .login-input {
            max-width: 150px;
            max-height: 27px;
            margin-left: 8px;
            padding-top: $login-input-padding;
            padding-bottom: $login-input-padding;

        }
        #campusnet-popover {
            color: $campusnet-popover-info-color;
        }

    }

    .navbar-tabs {
        width: 48%;
        li {
            a {
                color: white;
                width: 100px;
                text-align:center;
                font-family: $navbar-clickable-links;
                font-size: $navbar-font-size;
                &:hover {
                    font-weight: bold;
                }
                
            }
            &.active {
                a {
                    font-weight: bold;
                }
            }

        }
    }

}




$nav-sidebar-bg:                    transparent;
$nav-sidebar-active-link:           $connect-light-blue;
$nav-sidebar-active-focus-link:     darken($nav-sidebar-active-link, 8%);
$nav-sidebar-focus-link:            transparentize($connect-gray, 0.5);


.sidebar {
    background-color: $connect-dark-blue;
    color: white;

    a {
        color: white;
    }
    .sidebar-header {
        color: $connect-gray;
        text-align:center;
    }

    .sidebar-tabs {
        margin: 0px -15px;
    }

    
    .nav-sidebar {

        background-color: $connect-dark-blue;

        li {
            background-color: $nav-sidebar-bg;
            > a {
                color: white;
                white-space: nowrap;
                overflow: hidden;
                //border-bottom: 1px solid $gray-lighter;

                &:hover,
                &:focus {
                    background-color: $nav-sidebar-focus-link;
                    background-opacity: 50%;
                }
            }

            &.active {
                a {
                    cursor: default;
                    background-color: $nav-sidebar-active-link; 
                    color: #fff;
                }

                a:hover, 
                a:focus {
                    background-color: $nav-sidebar-active-focus-link;
                }
            }
        }
    }
}

// Explore page
$course-block-img-max-size:         100px;
$course-rating-star-color:          #EEDA74;
$course-rating-badge-color:         #33424D;
$course-credits-badge-color:        $connect-light-blue;
$search-courses-color:          transparentize($connect-gray, 0.8);
$search-courses-border-color:   darken($connect-gray, 50%);
$course-name-font-family:      'Source Sans Pro', sans-serif;
$course-name-font-size:         17px;
.explore-page {
    .search-sidebar {
        #credits-slider,
        #ratings-slider {
            .ui-slider-range {
                background: $connect-light-blue;
            }

            .ui-slider-handle {
                border: darken($connect-light-blue, 20%);
            }
        }

        #search_courses {
            background-color: $search-courses-color;
            border: none;
            color:white;
        }

        .credits-slider-values,
        .ratings-slider-values {
            margin-top: 15px;
        }
    }

    .courses-sequence {
        .course-panel {
            .block-header {
                .course-name {
                    font-size: 18px;
                    font-family: $course-name-font-family;
                    font-size:  $course-name-font-size;
                }
                .course-rating {
                    background-color: $course-rating-badge-color;
                    .yellow-star { color: $course-rating-star-color; }
                }
                .course-credits {
                    background-color: $course-credits-badge-color;
                    margin-left: 10px;
                    width: 46px;
                    height: 20px;
                }
            }

            .block-details {
                .course-image {
                    max-height: $course-block-img-max-size;
                    max-width: $course-block-img-max-size;
                }

                .course-catalog {
                    margin-top: 8px;
                }
            }
        }
    }
}

// Course page
$course-img-max-size:           150px;

.course-page {
    .course-sidebar {
        .registration-btn {
            width: 100%;
        }
        .sidebar-header {
            hr {
                margin: 4px -15px; 
            }
        }
        .sidebar-body {
            margin-top: 120px;
            margin-bottom: 20px;
            
        }
    }

    // Course info page
    .course-info {
        .info-header {
            .course-image {
                max-height: $course-img-max-size;
                max-width: $course-img-max-size;

            }
            .course-name {
                h3 { 
                    margin: 4px;
                    a {
                        color: $connect-dark-blue;
                    }
                }
            }
            .course-rating {
                .rating-badge {
                    margin-bottom: 4px;
                    background-color: $course-rating-badge-color;
                    .yellow-star {
                        color: $course-rating-star-color;
                    }
                }
                .rating-nrs {
                    font-size: 10px;
                }
            }
        }
        .info-bar {
            hr {
                margin: 8px 0px;    
            }
            .course-credits {
                background-color: $course-credits-badge-color;
            }
        }
        .info-body {
            margin-top: 20px;
            .review-submit {
                resize: vertical;
            }
            .reviews-display {
                 hr {
                    margin-bottom: 12px;
                }
            }
        }
    }

    // Course wiki page
    .course-wiki {
        .wiki-explanation {
            margin-top: 20px;
        }
    }

    // Course resources page
    .course-resources {
        h3 {
            margin: 0px;
        }
        .top-line {
            margin-top: 4px;
        }
        .homework-list {
            .hw-submit {
                margin-top: 24px;
            }
        }
    }

    // Course teacher page
    .course-teacher {
        .pending-registrations,
        .registered-students,
        .course-documents,
        .course-homework,
        .class-forum,
        .course-details {
            h3 {
                margin: 0px;
            }
            .top-line {
                margin-top: 4px;
            }
        }

        .registered-students {
            .email-details {
                padding-top: 30px;
            }
        }

        .class-forum {
            .extratag-input {
                max-width: 130px;
            }
        }

        .course-details {
            .modify-syllabus {
                .delete-syllabus-entry-form {
                    margin-left: 12px;
                }
                li {
                    margin-top: 16px;
                }
            }
        }
    }
}

// Review display


// Activity and info pages
.course-info .info-body .reviews-display,
.activity-timeline .review-activity {
    .review-block {
        .review {
            .review-text {
                margin-top: 6px;
            }
            .review-flag {
                overflow: hidden;
                .flag-content {
                    float: right;
                }
                .flag-review-form {
                    display: inline;
                }
                .flag-btn {
                    &:hover,
                    &:focus {
                        .glyphicon-flag {
                            color: $brand-danger;
                        }
                    }
                }
            }
        }
    }
}

// Welcome page
$register-panel-padding-top:        75px;
$register-panel-heading-color:      #282828;
$register-validation-font-size:     11px;
$register-panel-heading-font-family: 'Source Sans Pro', sans-serif;

.register-panel {
    .register-heading {
        background-color: $register-panel-heading-color;
        color: white;
        text-align: center;
        font-family: $register-panel-heading-font-family;

    }
    .validation-ok {
        color: $brand-success;
        font-size: $register-validation-font-size;
        font-weight:bold;
    }
    .validation-error {
        color: $brand-danger;
        font-size: $register-validation-font-size;
        font-weight:bold;
    }
}

.welcome-page-navbar {
        margin-bottom:0px;
        font-family: $navbar-clickable-links;
        font-size: $navbar-font-size;
    }

$tag-color: $connect-gray;
$tag-hover-color: $connect-light-blue;
$tag-bg-color: $connect-dark-blue;
$dropdown-menu-bg-color: $connect-dark-blue;
// Forum page
.forum-page,
.course-forum {
    .forum-bar {
        background-color: $connect-dark-blue;
        color: $connect-gray;
        .new-post-btn {
            margin-right: 8px;
        }
        a {
            color: white;  
        }
        ul {
            .dropdown {
                &:hover {
                    a {
                        color: $tag-hover-color;
                    }
                }
                &.open {

                    > a {
                        background-color: $tag-bg-color;
                        color: $tag-hover-color;
                    }

                    .dropdown-menu {
                        background-color:$dropdown-menu-bg-color;
                        li {
                            > a {
                                color: $tag-color;
                            }
                            :hover {
                                color: $tag-hover-color;
                                background-color: $tag-bg-color;
                            }
                        }
                    }
                        
                }
                a {
                    color: $connect-gray;
                }
            }
        }
        .dropdown-menu {
            li > a {
                color: $connect-dark-blue;
            }
        }
        p {
            color:$connect-gray;
        }
    }

    .answers-tabs {
        .post-name {
            margin-top: 8px;
        }
        .upvote-post-form {
            display: inline;
        }

        .answer-box {
            margin: 8px 4px;
            background-color: $gray-lighter;
            &.focus-answer { 
                background-color: lighten($connect-light-blue, 40%);
            }

            .answer-header .upvote-answer-form {
                display: inline;
            }
            .answer-body p {
                margin-bottom: 0px;            
            }
            .answer-box-contents {
                padding: 4px 8px;
            }

            .child-answers {
                .answer-box {
                    background-color: white;
                    &.focus-answer { 
                        background-color: lighten($connect-light-blue, 40%);
                    }
                }
            }
        }

        .best-answers {
            .answer-box .answer-footer .reply-form {
                display: none;
            }
        }
        .discussion-answers {
        }
    }

    .sidebar-name {
        margin-top: 0px;
    }
}

.forum-new-post-page {
    .new-post-tags {
        margin-top: 16px;
    }
}

.new-post-reminder {
    background-color: $gray-lighter;
    padding: 12px 8px;
    .thank-msg {
        margin-top: 8px;
    }
    ol > li {
        margin-top: 4px;
    }
}

// Dashboard page
$homework-number-color:         $connect-light-blue;
$tables-margin-left:            20px;


.dashboard-page {
    .sidebar-schedule {
        max-height: 200px;
        overflow:auto;
    }
    .sidebar-schedule-table {
        margin-left:$tables-margin-left;
    }
    .description-col {
        padding-left: 10px;
    }
    .sidebar-courses-table {
        margin-left: $tables-margin-left;
        width:90%;
        tr > td {
            border-bottom: 2px solid $connect-dark-blue;
            padding-bottom: 5px;
            padding-top:5px;

        }
        .course_name {
            width:90%;
        }
        .homework_number {
            background-color:$homework-number-color;
            width:10%;
            text-align:center;
            color:white;
        }
    }

    .sidebar-forum-posts {
        margin-left:$tables-margin-left;
        width:90%;
        tr > td {
            border-bottom: 2px solid $connect-dark-blue;
            padding-bottom: 5px;
            padding-top:5px;

        }
        .post_name {
            width:90%;
        }
        .likes_number {
            background-color:$homework-number-color;
            width:10%;
            text-align:center;
            color:white;
        }
    }
}

// Profile page

$profile-picture-width:    200px;
$profile-picture-max-height: 300px;

.profile-page {
    .summary-textarea {
        width:100%;
    }
    .profile-picture {
        width: $profile-picture-width;
        max-height: 300px;
    }
    .profile-picture-input {
        width: $profile-picture-width;
    }
    .profile-picture-submit {
        width: $profile-picture-width;
    }
    #summary-container {
        #edit-summary-form {
             textarea {
                background-color: transparentize($connect-gray, 0.8);
                border:none;
            }
        }
    }

}

// Manage account page
.manage-account-page {
    h4 {
        margin-top: 2px;
        margin-bottom: 6px;
    }
    hr {
        margin-top: 4px;
    }
}

// Activity timelines
.activity-timeline {
    .activity {
        .end-of-activity {
            margin-bottom: 2px;
        }
    }
    .forum-answer-activity {
        .answer-text {
            margin-top: 16px;
        }
    }
    .homework-activity {
        .homework-body {
            margin-top: 8px;
        }
    }
    .document-activity {
        .document-body {
            margin-top: 16px;
        }
    }
    .review-activity {
        .review-body {
            margin-top: 16px;
        }
    }
}
