.connect-navigation .connect-brand .logo {
  float: left;
  margin-top: -7px; }
.connect-navigation .connect-brand .brand-name {
  padding-left: 7.5px;
  color: #428bca; }
.connect-navigation .login-form {
  padding-top: 4px; }
  .connect-navigation .login-form .login-input {
    max-width: 150px;
    max-height: 27px;
    margin-left: 8px; }
  .connect-navigation .login-form #campusnet-popover {
    color: #29abe2; }

.nav-sidebar li {
  background-color: white; }
  .nav-sidebar li > a {
    color: #555555;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee; }
    .nav-sidebar li > a:hover, .nav-sidebar li > a:focus {
      background-color: #eeeeee; }
  .nav-sidebar li.active a {
    cursor: default;
    background-color: #428bca;
    color: #fff; }
  .nav-sidebar li.active a:hover,
  .nav-sidebar li.active a:focus {
    background-color: #3276b1; }

.explore-page .search-sidebar #credits-slider .ui-slider-range,
.explore-page .search-sidebar #ratings-slider .ui-slider-range {
  background: #428bca; }
.explore-page .search-sidebar #credits-slider .ui-slider-handle,
.explore-page .search-sidebar #ratings-slider .ui-slider-handle {
  border-color: #245682; }
.explore-page .search-sidebar .credits-slider-values,
.explore-page .search-sidebar .ratings-slider-values {
  margin-top: 15px; }
.explore-page .courses-sequence .course-panel .block-header .course-name {
  font-size: 18px; }
.explore-page .courses-sequence .course-panel .block-header .course-rating {
  background-color: #33424d; }
  .explore-page .courses-sequence .course-panel .block-header .course-rating .yellow-star {
    color: #eeda74; }
.explore-page .courses-sequence .course-panel .block-header .course-credits {
  background-color: #92209b;
  margin-left: 10px;
  width: 46px;
  height: 20px; }
.explore-page .courses-sequence .course-panel .block-details .course-image {
  max-height: 100px;
  max-width: 100px; }
.explore-page .courses-sequence .course-panel .block-details .course-catalog {
  margin-top: 8px; }

.course-page .course-sidebar .registration-btn {
  width: 100%; }
.course-page .course-sidebar .sidebar-header hr {
  margin: 4px -15px; }
.course-page .course-sidebar .sidebar-body {
  margin-top: 120px;
  margin-bottom: 20px; }
  .course-page .course-sidebar .sidebar-body .sidebar-tabs {
    margin: 0px -15px; }
.course-page .course-info .info-header .course-image {
  max-height: 150px;
  max-width: 150px; }
.course-page .course-info .info-header .course-name h3 {
  margin: 4px; }
.course-page .course-info .info-header .course-rating .rating-badge {
  margin-bottom: 4px;
  background-color: #33424d; }
  .course-page .course-info .info-header .course-rating .rating-badge .yellow-star {
    color: #eeda74; }
.course-page .course-info .info-header .course-rating .rating-nrs {
  font-size: 10px; }
.course-page .course-info .info-bar hr {
  margin: 8px 0px; }
.course-page .course-info .info-bar .course-credits {
  background-color: #92209b; }
.course-page .course-info .info-body {
  margin-top: 20px; }
  .course-page .course-info .info-body .review-submit {
    resize: vertical; }
  .course-page .course-info .info-body .reviews-display hr {
    margin-bottom: 12px; }
.course-page .course-wiki .wiki-explanation {
  margin-top: 20px; }
.course-page .course-resources h3 {
  margin: 0px; }
.course-page .course-resources .top-line {
  margin-top: 4px; }
.course-page .course-resources .homework-list .hw-submit {
  margin-top: 24px; }
.course-page .course-teacher .pending-registrations h3,
.course-page .course-teacher .registered-students h3,
.course-page .course-teacher .course-documents h3,
.course-page .course-teacher .course-homework h3,
.course-page .course-teacher .class-forum h3,
.course-page .course-teacher .course-details h3 {
  margin: 0px; }
.course-page .course-teacher .pending-registrations .top-line,
.course-page .course-teacher .registered-students .top-line,
.course-page .course-teacher .course-documents .top-line,
.course-page .course-teacher .course-homework .top-line,
.course-page .course-teacher .class-forum .top-line,
.course-page .course-teacher .course-details .top-line {
  margin-top: 4px; }
.course-page .course-teacher .registered-students .email-details {
  padding-top: 30px; }
.course-page .course-teacher .class-forum .extratag-input {
  max-width: 130px; }

.course-info .info-body .reviews-display .review-block .review .review-text,
.activity-timeline .review-activity .review-block .review .review-text {
  margin-top: 6px; }
.course-info .info-body .reviews-display .review-block .review .review-flag,
.activity-timeline .review-activity .review-block .review .review-flag {
  overflow: hidden; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-content,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-content {
    float: right; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-review-form,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-review-form {
    display: inline; }
  .course-info .info-body .reviews-display .review-block .review .review-flag .flag-btn:hover .glyphicon-flag, .course-info .info-body .reviews-display .review-block .review .review-flag .flag-btn:focus .glyphicon-flag,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-btn:hover .glyphicon-flag,
  .activity-timeline .review-activity .review-block .review .review-flag .flag-btn:focus .glyphicon-flag {
    color: #d9534f; }

.welcome-page .home-image-container .home-image {
  width: 100% !important; }
.welcome-page .register-sidebar {
  padding-top: 75px; }
  .welcome-page .register-sidebar .register-panel .register-heading {
    background-color: #282828;
    color: white;
    text-align: center; }
  .welcome-page .register-sidebar .register-panel .validation-ok {
    color: #5cb85c;
    font-size: 11px; }
  .welcome-page .register-sidebar .register-panel .validation-error {
    color: #d9534f;
    font-size: 11px; }

.forum-page .forum-bar .new-post-btn,
.course-forum .forum-bar .new-post-btn {
  margin-right: 8px; }
.forum-page .answers-tabs .post-name,
.course-forum .answers-tabs .post-name {
  margin-top: 8px; }
.forum-page .answers-tabs .upvote-post-form,
.course-forum .answers-tabs .upvote-post-form {
  display: inline; }
.forum-page .answers-tabs .answer-box,
.course-forum .answers-tabs .answer-box {
  margin: 8px 4px;
  background-color: #eeeeee; }
  .forum-page .answers-tabs .answer-box.focus-answer,
  .course-forum .answers-tabs .answer-box.focus-answer {
    background-color: #e1edf7; }
  .forum-page .answers-tabs .answer-box .answer-header .upvote-answer-form,
  .course-forum .answers-tabs .answer-box .answer-header .upvote-answer-form {
    display: inline; }
  .forum-page .answers-tabs .answer-box .answer-body p,
  .course-forum .answers-tabs .answer-box .answer-body p {
    margin-bottom: 0px; }
  .forum-page .answers-tabs .answer-box .answer-box-contents,
  .course-forum .answers-tabs .answer-box .answer-box-contents {
    padding: 4px 8px; }
  .forum-page .answers-tabs .answer-box .child-answers .answer-box,
  .course-forum .answers-tabs .answer-box .child-answers .answer-box {
    background-color: white; }
    .forum-page .answers-tabs .answer-box .child-answers .answer-box.focus-answer,
    .course-forum .answers-tabs .answer-box .child-answers .answer-box.focus-answer {
      background-color: #e1edf7; }
.forum-page .answers-tabs .best-answers .answer-box .answer-footer .reply-form,
.course-forum .answers-tabs .best-answers .answer-box .answer-footer .reply-form {
  display: none; }
.forum-page .sidebar-name,
.course-forum .sidebar-name {
  margin-top: 0px; }

.forum-new-post-page .new-post-tags {
  margin-top: 16px; }
.forum-new-post-page .new-post-reminder {
  background-color: #eeeeee; }
  .forum-new-post-page .new-post-reminder .thank-msg {
    margin-top: 4px; }
  .forum-new-post-page .new-post-reminder ul > li {
    margin-top: 4px; }

.dashboard-page .sidebar-schedule {
  max-height: 200px;
  overflow: auto; }
.dashboard-page .sidebar-schedule-table {
  margin-left: 20px; }
.dashboard-page .description-col {
  padding-left: 10px; }
.dashboard-page .sidebar-courses-table {
  margin-left: 20px;
  width: 90%; }
  .dashboard-page .sidebar-courses-table tr {
    border-bottom: 1px solid white; }
  .dashboard-page .sidebar-courses-table .course_name {
    width: 90%; }
  .dashboard-page .sidebar-courses-table .homework_number {
    background-color: #428bca;
    width: 10%;
    text-align: center;
    color: white; }
.dashboard-page .sidebar-forum-posts {
  margin-left: 20px;
  width: 90%; }
  .dashboard-page .sidebar-forum-posts tr {
    border-bottom: 1px solid white; }
  .dashboard-page .sidebar-forum-posts .post_name {
    width: 90%; }
  .dashboard-page .sidebar-forum-posts .likes_number {
    background-color: #428bca;
    width: 10%;
    text-align: center;
    color: white; }

.activity-timeline .activity .end-of-activity {
  margin-bottom: 2px; }
.activity-timeline .forum-answer-activity .answer-text {
  margin-top: 16px; }
.activity-timeline .homework-activity .homework-body {
  margin-top: 8px; }
.activity-timeline .document-activity .document-body {
  margin-top: 16px; }
.activity-timeline .review-activity .review-body {
  margin-top: 16px; }
