{% load i18n %}
<div class="course-block-wrapper">
<div class="panel panel-default course-panel 
{% for category in course.categories %} ct-{{ category.id }} {% endfor %}">

    <div class="panel-heading block-header">
        <span class="badge course-credits pull-right"> {{ course.course.credits }} </span>

        {% if course.overall_rating %}
            <span class="badge course-rating pull-right">
                <span class="glyphicon glyphicon-star yellow-star"></span>
                {{ course.overall_rating|floatformat:1 }}
            </span>
        {% endif %}

        <div class="course-name">
            <a class="course-block-course-url" href="/course/{{ course.course.slug }}" slug="{{course.course.slug}}">{{ course.course.name }}</a>
        </div>
    </div>

    <div class="panel-body block-details">
        <div class="row">
            <div class="col-md-2">
                {% if course.course.image %}
                    <img class="img-thumbnail course-image" data-original="{% url 'course_image' course.course.slug %}" alt="{{course.course.name}} image">
                {% else %}
                    <img class="img-thumbnail course-image" src="{{ STATIC_URL }}books.jpg" alt="{{course.course.name}} image">
                {% endif %}

            </div>

            <div class="col-md-10 course-details">

                <div class="course-professors">
                    <strong> {% trans "Professors" %}: </strong>
                    {% for juser in course.professors|slice:":3" %}
                        {% include 'objects/user_link.html' %};
                    {% endfor %}
                    {% if course.professors|length > 3 %}
                        ...
                    {% endif %}
                </div>


                <strong> {% trans "Description" %}: </strong> {{ course.course.description|truncatechars:180 }}
                <a class="course-block-course-url" href="/course/{{ course.course.slug }}" slug="{{course.course.slug}}">{% trans "(more)" %}</a>

                <p class="course-catalog text-muted">
                    <small>
                        {{ course.course_path }}
                    </small>
                </p>
                {% if course.registration_status != 3 %} <!-- if user is allowed to register -->
                    {% with course.registration_status as registration_status %}
                        {% with course.registration_open as registration_open %}
                            {% with course.course as course %}
                                {%  include 'objects/course/registration.html' %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                {% endif%}

            </div>
        </div>
    </div>
</div>
</div>