{% load i18n %}
<div class="search-sidebar">
  <div class="panel panel-default sidebar">
    <div class="panel-body">
      <input type="text" class="form-control course-search-bar"  id="search_courses"  placeholder='{% trans "Search by course name" %}'>

      <hr>

      {% include 'objects/explore/categories.html' %}

      <h5>{% trans "Credits range" %}:</h5>
      <div id="credits-slider"></div>
      <div class="credits-slider-values row">
        <div class="col-md-4">
          <input class="form-control credits-slider-handle" id="credits_handle_0" value="" disabled>
        </div>
        <div class="col-md-4"> </div>
        <div class="col-md-4">
          <input class="form-control credits-slider-handle" id="credits_handle_1" value="" disabled>
        </div>
      </div>

      <hr>

      <h5>{% trans "Ratings range" %}:</h5>
      <div id="ratings-slider"></div>
      <div class="ratings-slider-values row">
        <div class="col-md-5">
          <input class="form-control ratings-slider-handle" id="ratings_handle_0" value="" disabled>
        </div>
        <div class="col-md-2"> </div>
        <div class="col-md-5">
          <input class="form-control ratings-slider-handle" id="ratings_handle_1" value="" disabled>
        </div>
      </div>

    </div>
  </div>
</div>