{% extends 'pages/base.html' %}

{% load i18n %}

{% block content %}
<div class="forum-page forum-new-post-page">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="h4">
                {% if forum.forum_type == "1" %} {% comment %} General Forum {% endcomment %}
                    {% trans "Submit post on the general forum" %}
                {% elif forum.forum_type == "2" %} {% comment %} Course Forum {% endcomment %}
                    {% trans "Submit post on the forum of course" %} <a class="navbar-brand-course" href="{% url 'course_page' course.slug %}">{{ course.name }}</a>
                {% endif %}
            </p>
        </div>

        <div class="panel-body">
            {% include 'objects/forum/new_post.html' %}
        </div>
    </div>
</div>
{% endblock %}