{% extends 'pages/base.html' %}

{% block content %}
	<div class="forum-page">
	    {% include "objects/forum/bar.html" %}
	    {% include "objects/forum/contents.html" %}
	</div>
{% endblock %}

{% block extra_js_includes %}
  <script type="text/javascript" src="{{ STATIC_URL }}ckeditor_mini/ckeditor.js"></script>
{% endblock %}

{% block extra_css_includes %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}ckeditor_mini/plugins/codesnippet/lib/highlight/styles/github.css">
{% endblock %}